# Birthplace (fødested) cleaning
Here I inted to clean the birthplace (fødested) field in the data. Notice that the pre-processing scripts are in city_unification (conversion to UTF8, etc.)

## Libraries

In [291]:
#Importing libraries for data management
import pandas as pd
import numpy as np

#Importing libraries for system management
import os

#Distance computation
from pyjarowinkler import distance

#Regular expressions
import re

#Importing multiprocessing libraries
import multiprocessing

In [292]:
#Worning directories
in_folder  = '/data/import/nirama/utf8/'
out_folder = '/home/roregu/workspace/out/'
data_folder = '/home/roregu/workspace/data/'

#Column to process
focus_column = 'fødested'

#The Jaro threshold
THRESHOLD = 0.9

#Number of cores (machine = 28)
n_cores = 20

## Reading DigDag
and expanding with variations

In [293]:
# This function adds extra rows in the dataframe *dd* for the 
# places where *word* exists and replaces it with *replacement*
def adding_extra_rows(dd, word, replacement):
    dd['special'] = dd['simplename'].apply(lambda x: word in x) 
    dd['simplename2'] = dd.simplename.apply(lambda x: x.replace(word,replacement))
    return pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

In [335]:
#The digdag seems to have duplicates which I do not understand why
dd = pd.read_csv(data_folder+'rl_places_digdag_v1.txt', sep = '\t', encoding='utf-16', dtype=str)
dd_org = dd.copy()

#Getting the Købstad and putting it to the original data
dd2 = pd.read_csv(data_folder+'koebstad.csv', sep = ';', encoding='utf-8', dtype=str)
dd2['enhedtype'] = '80'#dd2['art'] 
dd = pd.concat([dd, dd2[~dd2.isna()][['navn','enhedid','enhedtype','art','simplename']]])
dd['simplename'] = dd['simplename'].astype(str)
del dd2

#Moving the Købstad to the right column
dd['art'] = np.where(dd['enhedtype'] == 'Købstad', ['Købstadskommune']*len(dd), dd['art'])

#adding a conversion of special characters to latin letters (å -> aa, ø -> oe, æ -> ae) and adding them to the reference list
dd = adding_extra_rows(dd, 'å', 'aa')
dd = adding_extra_rows(dd, 'ø', 'oe')
dd = adding_extra_rows(dd, 'æ', 'ae')

#Preparing the names to append them at the simple name
dd['art'] = dd['art'].apply({'Amt':'amt', 'Sogn':'sogn','Købstadskommune':'købstad', 'Geografisk Herred':'herred', 'Processing':''}.get)

#Adding a duplicated list of their unit type to increase matches
dd['simplename2'] = dd.apply(lambda row: str(row['simplename'])+' '+str(row['art']), axis=1)
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Adding the plural købstæder as well
dd = adding_extra_rows(dd, 'købstad', 'købstæder')

#Adding spaces instead of hyphens (new rows)
dd = adding_extra_rows(dd, '-', ' ')

#Removing spaces (new rows)
dd = adding_extra_rows(dd, ' ', '')

#Adding bysogn and landsogn (new rows)
dd = adding_extra_rows(dd, 'sogn', 'bysogn')
dd = adding_extra_rows(dd, 'sogn', 'landsogn')

#adding rows where the last letter's "e" will be removed
dd['special'] = dd['simplename'].str[-1] == 'e'
dd['simplename2'] = dd['simplename'].str[:-1]
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Dropping duplicates from digdag
#print(dd[dd.duplicated('simplename', keep=False)].sort_values('simplename').head(30))
dd.drop_duplicates(['art','simplename'], keep='first', inplace=True)

#Drop 'Non' from the list, this may be one of my artifacts...
dd = dd[(dd.simplename.apply(lambda x: not 'Non' in x))]

#Adding sweeden into the equation
#dd = dd.append({'navn':'Sweden','enhedid':'400000','enhedtype':'90','art':'country','simplename':'sverige'}, ignore_index=True).append({'navn':'Sweden','enhedid':400000,'enhedtype':'90','art':'country','simplename':'sverrig'}, ignore_index=True)

# TODO take into consideration that the same city name can be in varios geographical areas...
# It should be matched with herred to increase accuracy for each record. However, right now we're only cleaning
# not sure how pressing the issue is...
nr_sogn = len(dd_org[dd_org.art=='Sogn'].simplename.unique()) 
dd.head(20)

#TODO: Right now I can map things to amt for example which should not be the case...
#dd =dd[dd.art='sogn']

                     navn enhedid enhedtype  art     simplename
0            Kronborg Amt  118765        11  amt       kronborg
1              Præstø Amt  118791        11  amt         præstø
2           Bornholms Amt  118792        11  amt      bornholms
3           Svendborg Amt  118813        11  amt      svendborg
4              Ålborg Amt  118819        11  amt         ålborg
5                Sorø Amt  118785        11  amt           sorø
6               Århus Amt  118846        11  amt          århus
7            Hjørring Amt  118820        11  amt       hjørring
8             Bøvling Amt  118851        11  amt        bøvling
9               Vejle Amt  118849        11  amt          vejle
10            Dueholm Amt  118821        11  amt        dueholm
11               Ørum Amt  118824        11  amt           ørum
12            Thisted Amt  118826        11  amt        thisted
13             Viborg Amt  118830        11  amt         viborg
14         Ringkøbing Amt  118853        11  amt     ringkøbing
15     Københavns Kommune  370923        11  amt     københavns
16  Frederiksberg Kommune  370924        11  amt  frederiksberg
17               Fyns Amt  118739        11  amt           fyns
18           Sæbygård Amt  118773        11  amt       sæbygård
19               Ribe Amt  118855        11  amt           ribe

### Adding countries and islands
Countries: Barbara's list, but missing countries before the german, and italian unifications

Islands: From mads from Danmark's Stednavne (You'll find the standardized name in the "opslagsform" column)

In [339]:
#TODO
#dd['enhedid'].astype(int).max(), dd['enhedid'].astype(int).min() #RESULT: (370924, -9)
#For the types: dd['enhedtype'].astype(str).unique()
#THey should all have: #[navn, enhedid, enhedtype, art, simplename]

#Islands on the 400000 range, and type 200
df_islands = pd.read_csv(data_folder+'islands_edit.csv', sep = ';', dtype=str)

#Creating the columns
df_islands['navn'] = df_islands['opslagsform'].str.lower()
df_islands['simplename'] = df_islands['opslagsform'].str.lower()
df_islands['art'] = 'island'
df_islands['enhedtype'] = '200'
df_islands['enhedid'] = np.array(df_islands.index.tolist()) + 400000

# Removing special characters
df_islands = adding_extra_rows(df_islands, 'å', 'aa')
df_islands = adding_extra_rows(df_islands, 'ø', 'oe')
df_islands = adding_extra_rows(df_islands, 'æ', 'ae')

#Countries on the 500000 range, and type 300
df_countries = pd.read_csv(data_folder+'CountryList.csv', sep = ';', names = ['country'], dtype=str)

#Creating the columns
df_countries['navn'] = df_countries['country'].str.lower()
df_countries['simplename'] = df_countries['country'].str.lower()
df_countries['art'] = 'country'
df_countries['enhedtype'] = '300'
df_countries['enhedid'] = np.array(df_countries.index.tolist()) + 500000

# Removing special characters
df_countries = adding_extra_rows(df_countries, 'å', 'aa')
df_countries = adding_extra_rows(df_countries, 'ø', 'oe')
df_countries = adding_extra_rows(df_countries, 'æ', 'ae')

#Adding countries and islands to dig dag dataframe
#dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],df_islands[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']]])

0     Lilleø
1    Eskilsø
2        Orø
3      Langø
4       Rønø
Name: opslagsform, dtype: object

In [350]:
df_islands['opslagsform'].str.lower()

0       lilleø
1      eskilsø
2          orø
3        langø
4         rønø
        ...
189        NaN
190        NaN
191        NaN
192        NaN
193        NaN
Name: opslagsform, Length: 194, dtype: object

In [296]:
print('length original:\t', len(dd_org), '\nlength modified:\t', len(dd), '\nunique sogn keys:\t', nr_sogn)

length original:	 2519
length modified:	 26874
unique sogn keys:	 1924

## Processing functions

In [297]:
#Get the df from the $ separated file (for some reason pandas has problems with random lines)
def get_df(f_path):
    r= []
    columns = []
    with open(f_path) as f:
        first = True
        for line in f:
            line = line.rstrip().split('$')
            if first:
                length = len(line)
                columns = line
                first=False
            else:
                r.append(line[:length])
                
    return pd.DataFrame(data=r, columns = columns)

In [298]:
# Name cleaning function
def name_cleaner(s, working_column):
    try:
        o = s[working_column].lower().strip().replace('  ', ' ').replace('*', '').replace('?', '').replace('.', '')
        
        #If "do" (ditto= same as above) and people write what is same, then I keep what they wrote
        if o[:3] == 'do ':
            o = re.findall(r'do\.?\s\[?\(?(.+)',o)[0]
           
        #if it says "her i sogn", I get the value for "Sogn" and put it there
        if ('heri sogn' in o or 'her i sogn' in o or 'her i s' == o or 'i sognet' == o[:8] or 'i sogn' == o or 'født i sognet' == o or 'sognet' == o or 'her' == o or 'her i byen'  == o or 'h i s'  == o or 'heri s'  == o or 'h i sognet' == o) and working_column != 'Sogne':
            return name_cleaner(s, 'Sogne')
                    
        #Get some clarifications
        if o[:4] == 'her ':
            o = re.findall(r'her\.?\s\[?\(?(.+)',o)[0]
            
        # Removing variability not catched by Jaro for Copenhagen
        if o in 'kbhvn*kbhv*kjøbenh*kjøbh*kbhvn*kbhavn*kjøbhvn':
            return 'kobenhavn'

        return o
    except:
        return np.nan

In [299]:
# List of files to work (with the 1901 collapsed)
#This I did
working_data = ['ft1845_LL.txt',
 'ft1850_LL.txt',
 'ft1860_LL.txt',
 'ft1880_LL.txt',
 'ft1885_LL.txt',
 'ft1901_LL.txt']

#This Nicolai
working_data = ['ft1787.txt',
'ft1801.txt',
'ft1803.txt',
'ft1834.txt',
'ft1840.txt',
'ft1845.txt',
'ft1850.txt',
'ft1860.txt',
'ft1880.txt',
'ft1885.txt',
'ft1901.txt']

#This Nicolai
working_data = ['ft1845.txt',
'ft1850.txt',
'ft1860.txt',
'ft1880.txt',
'ft1885.txt',
'ft1901.txt']

## Loading data and counting

In [300]:
#This is where I save the counts and then group it together
out_list = []

#where I save the missmatches and file year
missmatches = []
total_records = 0

#for f in working_data:
 
def data_loader(f):
    
    print(f)
    #Loading the data
    df = get_df(in_folder+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    df = df[~df[focus_column].isna() & (df[focus_column] !='')]
    print(len(df))
    
    #Preforming the name cleaning, be aware that I replace "her i sogn" in there
    df[focus_column+'_data'] = df.apply(lambda row: name_cleaner(row, focus_column), axis=1)
    
    #Reducing Dimensionality and saving in RAM
    out = df.groupby(focus_column+'_data').size().reset_index(name = 'counts')
    out['year'] = f[2:6]
    return out

with multiprocessing.Pool(processes=n_cores) as pool:
    for result in pool.starmap(data_loader, zip(working_data)):
        print('done', f)
        out_list.append(result)

out_list = pd.concat(out_list, sort=False)
out_list.sort_values('counts',ascending=False)
print('Done! :D')

ft1880.txt
ft1850.txt
ft1860.txt
ft1885.txt
ft1901.txt
ft1845.txt
318056
1359777
1700886
1281746
1759664
2046684
done ft1901.txt
done ft1901.txt
done ft1901.txt
done ft1901.txt
done ft1901.txt
done ft1901.txt
Done! :D

In [301]:
#Putting it nicely, on a more horitzontal table
out_list = out_list.pivot(focus_column+'_data', 'year', 'counts').fillna(0).astype(int).reset_index().reset_index(drop=True)
out_list = pd.DataFrame(out_list.values, columns=out_list.columns.tolist()) #Getting rid of the wrong index
out_list['total'] = out_list.apply(lambda row: row['1845']+row['1850']+row['1860']+row['1880']+row['1885']+row['1901'],axis=1)
out_list.sort_values('total', ascending=False, inplace=True)
out_list.total.sum() #Around the 14k first places compule 80% of the people
out_list.head(50)

,fødested_data,1845,1850,1860,1880,1885,1901,total
241597,kjøbenhavn,46676,43564,85473,69863,132756,30200,408532
257144,københavn,15065,9333,16227,67982,14501,58685,181793
324175,odense,8226,6506,9285,13002,2967,23108,63094
10598,aalborg,5923,2731,8046,9826,2103,15706,44335
246461,kobenhavn,8899,6604,10143,8035,624,8622,42927
12161,aarhus,4049,4577,1710,3047,1818,23653,38854
173290,helsingør,4902,5801,6775,7647,2966,7960,36051
80394,do,10,29824,439,5187,0,145,35605
193513,horsens,4127,3096,5685,8037,1391,12574,34910
115739,fredericia,3694,2439,5158,4215,921,8070,24497
428703,sverrig,911,1803,4121,6546,4005,5963,23349
341067,randers,1836,4052,7382,3348,1764,4870,23252
395999,slagelse,2787,2977,3778,5308,2105,4885,21840
427351,svendborg,2045,1006,4150,4699,1031,7288,20219
428634,sverige,234,1030,3637,6024,2779,6024,19728
505907,viborg,862,2513,4025,4809,846,5755,18810
6227,-,1557,489,1054,1355,457,13859,18771
311210,nyborg,1973,2779,3341,3558,973,4914,17538
397328,slesvig,287,3258,1755,7247,844,3681,17072
116155,frederiksberg,692,256,1081,3216,5952,5313,16510
247237,kolding,803,1029,2933,4397,706,6369,16237
238259,kiøbenhavn,7697,3541,1998,644,1581,93,15554
302396,nakskov,1992,2207,2823,1479,1003,4916,14420
450911,thisted,1345,1871,2509,2835,596,3597,12753
29037,assens,2202,1806,3016,1522,638,3343,12527
353101,roskilde,431,2119,955,2577,1303,4828,12213
359926,rønne,410,794,1035,3228,692,5770,11929
185567,hjørring,997,759,1431,2900,413,4221,10721
249946,korsør,242,1220,1509,3072,702,3731,10476
293906,middelfart,1424,1495,1850,2245,318,2584,9916
308111,nordby,2426,2506,2548,1036,3,1335,9854
83861,dronninglund,2638,3086,27,2170,15,1806,9742
456587,tikøb,3758,3272,10,2463,29,126,9658
431020,sæby,1258,1722,2538,2404,186,1548,9656
494826,veile,328,1965,2725,3374,665,502,9559
346602,ribe,1898,588,2825,2607,446,1136,9500
187177,holbæk,699,784,990,3053,1070,2720,9316
316291,næstved,413,987,2080,1953,681,3087,9201
156810,haderslev,664,550,5518,1064,472,806,9074
100738,faaborg,1060,610,2240,1862,586,2607,8965
359964,rønne købstad - bornholms amt,2967,2747,3122,0,0,0,8836
428592,sverig,33,215,852,2524,1115,3980,8719
349347,ringsted,1232,1321,1646,1887,817,1644,8547
12350,aarhuus,1462,1417,4337,547,391,180,8334
491090,varde,292,1179,1730,1949,255,2808,8213
286095,magleby,1522,3299,1810,926,49,514,8120
48995,bogense,1185,1254,1612,1805,347,1702,7905
386379,skive,798,997,1310,1748,253,2485,7591
208028,højby,2003,1872,2055,1160,12,361,7463
180381,hillerød,995,1115,1433,1996,853,1065,7457

# Name splitting 
if there is sogn and amt in the same value I keep the amt and save the rest

In [302]:
def do_splitting(row):
    r = row[focus_column+'_data'].split(',')
    
    try:
        s = r[0]
        a = r[1]
    except:
        s = r[0]
        a = r[0]
    
    for i in range(len(r)):
        if 'sogn' in r[i] or 'købstad' in r[i]: 
            if 'sogn' == r[i].strip(' ') or 'købstad' == r[i].strip(' ') : s = r[i-1]
            else: s = r[i]
        elif 'amt' in r[i]: 
            if 'amt' == r[i].strip(' '): a = r[i-1]
            else: a = r[i]
                
    #When the comma does not separate
    if s == a and (a[-4:] != 'sogn' or a[-7:] != 'købstad'):
        if 'sogn' in a:
            r = a.split('sogn')
            return r[0], r[1]
        elif 'købstad' in a:
            r = a.split('købstad')
            return r[0], r[1]
    
    return s, a


#commas[[focus_column+'_sogn_data', focus_column+'_amt_data']] = commas[focus_column+'_data'].str.split(",", n=1,expand=True) 
out_list[focus_column+'_org'] = out_list[focus_column+'_data']
out_list[[focus_column+'_data', focus_column+'_amt_data']] = out_list.apply(do_splitting, axis=1, result_type="expand")
out_list

,fødested_data,1845,1850,1860,1880,1885,1901,total,fødested_org,fødested_amt_data
241597,kjøbenhavn,46676,43564,85473,69863,132756,30200,408532,kjøbenhavn,kjøbenhavn
257144,københavn,15065,9333,16227,67982,14501,58685,181793,københavn,københavn
324175,odense,8226,6506,9285,13002,2967,23108,63094,odense,odense
10598,aalborg,5923,2731,8046,9826,2103,15706,44335,aalborg,aalborg
246461,kobenhavn,8899,6604,10143,8035,624,8622,42927,kobenhavn,kobenhavn
...,...,...,...,...,...,...,...,...,...,...
220866,jerslev,0,0,1,0,0,0,1,jerslev sogn her i amtet,her i amtet
220862,jerslev,0,0,1,0,0,0,1,jerslev sogn h a],h a]
220859,jerslev,0,0,0,0,0,1,1,jerslev sogn do [ hørring a],do [ hørring a]
220858,jerslev,1,0,0,0,0,0,1,jerslev sogn aalborg amt (hjørring),aalborg amt (hjørring)
548159,…sløv holbæk amt,0,1,0,0,0,0,1,…sløv holbæk amt,…sløv holbæk amt

In [303]:
#Todo: Check wich sogn are repeated within different amts and treat them differently

## Basic matches

In [304]:
#Notice that I only match for Sogn
out = out_list.merge(dd[['navn','simplename', 'art', 'enhedid']], left_on=focus_column+'_data', right_on='simplename', how='left')

#Those are the missmatch
miss = out[out.enhedid.isna()]
miss.head()

#Here are the match
match = out[~out.enhedid.isna()]
match.head()

# Aggregating the match by enhedid and year
agg_counts = match.groupby(['navn', 'enhedid', 'art'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

# Grouping all enhedid to see how many different versions of the same Sogne we have in the data
diff_counts = match.groupby(['navn','enhedid'])[focus_column+'_data'].apply(set).reset_index(name='extended_digdag') #if parenthesis is confusing add **.apply(lambda x: ', '.join(x))** before the reset index

# Joining DFs and saving
s = agg_counts.merge(diff_counts, on = ['navn','enhedid'])
s.to_csv(out_folder+'birthplaces_FT_uniquevalues_01.tsv', sep='\t', index=False)
print(len(s))
s.head()
del s, agg_counts, diff_counts

2084

## Computing Jaro distances for the missmatches

In [305]:
def compute_jaro(a, bb, i):
    o=[]
    for b in bb:
        try:
            o.append(distance.get_jaro_distance(a, b))
        except:
            o.append(0)
    return i, o


mm = miss[focus_column+'_data'].unique()
sn = dd_org.simplename.unique() # Using the short version of dig dag to make it much faster (>x10)
distance_jaro = np.zeros((len(sn),len(mm)))


with multiprocessing.Pool(processes=n_cores) as pool:
    for i , result in pool.starmap(compute_jaro, zip(sn, [mm]*len(sn), range(len(sn)))):
        if i%100 == 0: print(i, 'out of' , len(sn))
        distance_jaro[i,:] = result

        
#Index is the reference names found in digdag the columns the original data
distance_jaro = pd.DataFrame(data = distance_jaro, columns = mm, index = sn)
print(distance_jaro.shape, 'len mm,sn:', len(mm), len(sn)) #(26428, 1237)
del mm, sn
distance_jaro.head()

0 out of 2083
100 out of 2083
200 out of 2083
300 out of 2083
400 out of 2083
500 out of 2083
600 out of 2083
700 out of 2083
800 out of 2083
900 out of 2083
1000 out of 2083
1100 out of 2083
1200 out of 2083
1300 out of 2083
1400 out of 2083
1500 out of 2083
1600 out of 2083
1700 out of 2083
1800 out of 2083
1900 out of 2083
2000 out of 2083
(2083, 350057) len mm,sn: 350057 2083

,kjøbenhavn,kobenhavn,do,-,slesvig,kiøbenhavn,veile,sverig,aarhuus,norge,...,jerslev s ha!!,jerslev s h amt,jerslev s h a,jerslev s do amt [jerslev sogn,jerslev s do [hjørring a],jerslev s dito [hjørring a ],jerslev s aalborg amt,jerslev pr køge,jerslev sog,…sløv holbæk amt
kronborg,0.50,0.61,0.54,0.0,0.42,0.50,0.00,0.53,0.42,0.38,...,0.40,0.40,0.40,0.39,0.39,0.39,0.39,0.46,0.55,0.40
præstø,0.42,0.00,0.00,0.0,0.44,0.42,0.00,0.39,0.54,0.46,...,0.49,0.49,0.50,0.47,0.47,0.47,0.48,0.49,0.51,0.49
bornholms,0.54,0.55,0.54,0.0,0.00,0.54,0.00,0.43,0.59,0.54,...,0.52,0.51,0.52,0.48,0.48,0.48,0.49,0.45,0.52,0.40
svendborg,0.43,0.44,0.00,0.0,0.63,0.43,0.54,0.79,0.00,0.44,...,0.29,0.29,0.29,0.26,0.27,0.26,0.27,0.40,0.52,0.48
ålborg,0.42,0.35,0.00,0.0,0.54,0.42,0.46,0.56,0.44,0.70,...,0.33,0.32,0.33,0.30,0.30,0.30,0.31,0.32,0.34,0.41

## Computing the best match with a minimum threshold

In [306]:
#Getting the highest match for each Sogne and filtering threshold
a = distance_jaro.idxmax().reset_index(name = 'potential_match')
b = distance_jaro.max().reset_index(name='jaro')
dfmap = a.merge(b, on='index').rename(columns={'index':'data_name'})
dfmap.to_csv(out_folder+'mapping_birthplaces.tsv', sep='\t', index=False)
dfmap = dfmap[dfmap.jaro.astype(float) >= THRESHOLD]
dfmap.head()
del a
del b

#Getting the mapped info into DigDag v2 (not really the v2)
dd2 = dfmap.merge(dd[['navn','simplename', 'art', 'enhedid']].sort_values('art', ascending=False).drop_duplicates('simplename', keep='first'), left_on='potential_match', right_on='simplename')
dd2['simplename'] = dd2['data_name']
dd2 = dd2[['navn','enhedid','art','simplename']]
dd2 = pd.concat([dd2[['navn','simplename', 'art', 'enhedid']], dd], sort=False) #putting together
dd2.head()

               navn   simplename      art enhedid enhedtype
0  Staden København   kjøbenhavn  købstad  120663       NaN
1  Staden København    kobenhavn  købstad  120663       NaN
2  Staden København   kiøbenhavn  købstad  120663       NaN
3  Staden København  kjøbenhavn]  købstad  120663       NaN
4  Staden København   kjöbenhavn  købstad  120663       NaN

In [307]:
# Starting again with the merges
out = out_list.merge(dd2, left_on=focus_column+'_data', right_on='simplename', how='left')

#Those are the missmatch
miss = out[out.enhedid.isna()]
miss.head()

#Here are the match
match = out[~out.enhedid.isna()]
match.head()

# Aggregating the match by enhedid and year
agg_counts = match.groupby(['navn', 'enhedid', 'art'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

# Grouping all enhedid to see how many different versions of the same Sogne we have in the data
diff_counts = match.groupby(['navn','enhedid'])[focus_column+'_data'].apply(set).reset_index(name='extended_digdag') #if parenthesis is confusing add **.apply(lambda x: ', '.join(x))** before the reset index

# Joining DFs and saving
s = agg_counts.merge(diff_counts, on = ['navn','enhedid'])
s.to_csv(out_folder+'birthplaces_FT_jaro0.9_01.tsv', sep='\t', index=False)
print(len(s))
s.head()
del s, agg_counts, diff_counts

2194

## Working with the missmatches after jaro

### Some of the missmatches have sogn in the name, so I will do another jaro for "XXXX sogn"

In [308]:
def compute_jaro(a, bb, i):
    o=[]
    for b in bb:
        try:
            o.append(distance.get_jaro_distance(a, b))
        except:
            o.append(0)
    return i, o


mm = miss[focus_column+'_data'].unique()
sn = dd[dd.simplename.str[-5:] == ' sogn'].simplename.unique() # Using the short version of dig dag to make it much faster (>x10)
distance_jaro = np.zeros((len(sn),len(mm)))


with multiprocessing.Pool(processes=n_cores) as pool:
    for i , result in pool.starmap(compute_jaro, zip(sn, [mm]*len(sn), range(len(sn)))):
        if i%100 == 0: print(i, 'out of' , len(sn))
        distance_jaro[i,:] = result

        
#Index is the reference names found in digdag the columns the original data
distance_jaro = pd.DataFrame(data = distance_jaro, columns = mm, index = sn)
print(distance_jaro.shape, 'len mm,sn:', len(mm), len(sn)) #(26428, 1237)
del mm, sn
distance_jaro.head()

0 out of 2642
100 out of 2642
200 out of 2642
300 out of 2642
400 out of 2642
500 out of 2642
600 out of 2642
700 out of 2642
800 out of 2642
900 out of 2642
1000 out of 2642
1100 out of 2642
1200 out of 2642
1300 out of 2642
1400 out of 2642
1500 out of 2642
1600 out of 2642
1700 out of 2642
1800 out of 2642
1900 out of 2642
2000 out of 2642
2100 out of 2642
2200 out of 2642
2300 out of 2642
2400 out of 2642
2500 out of 2642
2600 out of 2642
(2642, 282558) len mm,sn: 282558 2642

,do,-,slesvig,veile,sverig,aarhuus,norge,jylland,fakse,tyskland,...,jerslev s ribe amt,jerslev s hjørring a[mt],jerslev s hjørr a],jerslev s h amt,jerslev s do amt [jerslev sogn,jerslev s do [hjørring a],jerslev s dito [hjørring a ],jerslev s aalborg amt,jerslev pr køge,…sløv holbæk amt
flakkebjerg sogn,0.0,0.0,0.47,0.51,0.41,0.40,0.42,0.47,0.71,0.41,...,0.52,0.50,0.51,0.54,0.51,0.57,0.55,0.59,0.55,0.41
frøslev sogn,0.0,0.0,0.63,0.52,0.47,0.48,0.52,0.41,0.66,0.47,...,0.56,0.58,0.56,0.59,0.56,0.58,0.57,0.65,0.59,0.57
kirke såby sogn,0.0,0.0,0.47,0.51,0.46,0.47,0.51,0.00,0.51,0.29,...,0.48,0.46,0.41,0.43,0.42,0.49,0.43,0.57,0.49,0.42
kirke stillinge sogn,0.0,0.0,0.53,0.50,0.44,0.46,0.50,0.00,0.50,0.28,...,0.50,0.52,0.45,0.46,0.56,0.53,0.59,0.54,0.48,0.45
herlev sogn,0.0,0.0,0.56,0.62,0.51,0.46,0.53,0.41,0.43,0.48,...,0.58,0.55,0.58,0.61,0.58,0.60,0.59,0.56,0.67,0.54

In [309]:
#Getting the highest match for each Sogne and filtering threshold
a = distance_jaro.idxmax().reset_index(name = 'potential_match')
b = distance_jaro.max().reset_index(name='jaro')
dfmap = a.merge(b, on='index').rename(columns={'index':'data_name'})
dfmap.to_csv(out_folder+'mapping_birthplaces.tsv', sep='\t', index=False)
dfmap = dfmap[dfmap.jaro.astype(float) >= THRESHOLD]
dfmap.head()
del a
del b

#Getting the mapped info into DigDag v2 (not really the v2)
dd3 = dfmap.merge(dd2[['navn','simplename', 'art', 'enhedid']].sort_values('art', ascending=False).drop_duplicates('simplename', keep='first'), left_on='potential_match', right_on='simplename')
dd3['simplename'] = dd3['data_name']
dd3 = dd3[['navn','enhedid','art','simplename']]
dd3 = pd.concat([dd2[['navn','simplename', 'art', 'enhedid']], dd], sort=False) #putting together
dd3.head()

               navn   simplename      art enhedid enhedtype
0  Staden København   kjøbenhavn  købstad  120663       NaN
1  Staden København    kobenhavn  købstad  120663       NaN
2  Staden København   kiøbenhavn  købstad  120663       NaN
3  Staden København  kjøbenhavn]  købstad  120663       NaN
4  Staden København   kjöbenhavn  købstad  120663       NaN

In [310]:
# Starting again with the merges
out = out_list.merge(dd3, left_on=focus_column+'_data', right_on='simplename', how='left')

#Those are the missmatch
miss = out[out.enhedid.isna()]
miss.head()

#Here are the match
match = out[~out.enhedid.isna()]
match.head()

# Aggregating the match by enhedid and year
agg_counts = match.groupby(['navn', 'enhedid', 'art'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

# Grouping all enhedid to see how many different versions of the same Sogne we have in the data
diff_counts = match.groupby(['navn','enhedid'])[focus_column+'_data'].apply(set).reset_index(name='extended_digdag') #if parenthesis is confusing add **.apply(lambda x: ', '.join(x))** before the reset index

# Joining DFs and saving
s = agg_counts.merge(diff_counts, on = ['navn','enhedid'])
s.to_csv(out_folder+'birthplaces_FT_jaro0.9_02.tsv', sep='\t', index=False)
print(len(s))
s.head()
del s, agg_counts, diff_counts

2194

In [311]:
dd_org[dd_org.simplename.str[:5] == 'køben']

                    navn enhedid enhedtype              art  simplename
15    Københavns Kommune  370923        11              Amt  københavns
43        Københavns Amt  118733        11              Amt  københavns
49      Staden København  370922        11              Amt   københavn
79        Københavns Amt  118762        11              Amt  københavns
2273    Staden København  120663        40  Købstadskommune   københavn

In [312]:
distance.get_jaro_distance('kjøbenhavn', 'københavn')

0.97

In [313]:
print(miss.shape)
miss.head(50)

(347613, 15)

,fødested_data,1845,1850,1860,1880,1885,1901,total,fødested_org,fødested_amt_data,navn,simplename,art,enhedid,enhedtype
34,do,10,29824,439,5187,0,145,35605,do,do,NaN,NaN,NaN,NaN,NaN
75,-,1557,489,1054,1355,457,13859,18771,-,-,NaN,NaN,NaN,NaN,NaN
84,slesvig,287,3258,1755,7247,844,3681,17072,slesvig,slesvig,NaN,NaN,NaN,NaN,NaN
166,veile,328,1965,2725,3374,665,502,9559,veile,veile,NaN,NaN,NaN,NaN,NaN
205,sverig,33,215,852,2524,1115,3980,8719,sverig,sverig,NaN,NaN,NaN,NaN,NaN
216,aarhuus,1462,1417,4337,547,391,180,8334,aarhuus,aarhuus,NaN,NaN,NaN,NaN,NaN
259,norge,633,1556,1564,1352,1060,1082,7247,norge,norge,NaN,NaN,NaN,NaN,NaN
290,jylland,455,447,567,309,250,4176,6204,jylland,jylland,NaN,NaN,NaN,NaN,NaN
376,fakse,1109,1725,1919,42,8,121,4924,fakse,fakse,NaN,NaN,NaN,NaN,NaN
395,tyskland,71,366,474,957,638,2323,4829,tyskland,tyskland,NaN,NaN,NaN,NaN,NaN
441,amager,141,211,259,1023,1346,1385,4365,amager,amager,NaN,NaN,NaN,NaN,NaN
533,aalborg aalborg amt,0,3726,2,25,0,118,3871,aalborg aalborg amt,aalborg aalborg amt,NaN,NaN,NaN,NaN,NaN
835,nordrup sogn,82,360,868,502,0,789,2601,"nordrup sogn, sorø amt",sorø amt,NaN,NaN,NaN,NaN,NaN
997,sjælland,120,220,355,151,43,1423,2312,sjælland,sjælland,NaN,NaN,NaN,NaN,NaN
1010,møgeltønder (kongerigsk),893,858,546,0,0,0,2297,møgeltønder (kongerigsk),møgeltønder (kongerigsk),NaN,NaN,NaN,NaN,NaN
1023,taars,369,89,17,1050,0,751,2276,taars sogn hjørring amt,hjørring amt,NaN,NaN,NaN,NaN,NaN
1093,saaby,252,842,864,204,4,8,2174,saaby,saaby,NaN,NaN,NaN,NaN,NaN
1144,faaborg],603,12,589,910,0,0,2114,faaborg],faaborg],NaN,NaN,NaN,NaN,NaN
1175,kjøng sogn,134,145,187,1515,0,82,2063,"kjøng sogn, odense amt",odense amt,NaN,NaN,NaN,NaN,NaN
1182,kiel,419,279,679,339,223,115,2054,kiel,kiel,NaN,NaN,NaN,NaN,NaN
1216,draaby,2,2,497,326,1,1187,2015,draaby sogn frederiksborg amt,frederiksborg amt,NaN,NaN,NaN,NaN,NaN
1240,i s],519,1062,399,0,0,0,1980,i s],i s],NaN,NaN,NaN,NaN,NaN
1245,veilby sogn,83,55,49,1650,0,141,1978,"veilby sogn, odense amt",odense amt,NaN,NaN,NaN,NaN,NaN
1368,sonderburg,1836,0,3,0,0,0,1839,sonderburg,sonderburg,NaN,NaN,NaN,NaN,NaN
1416,malmø,76,65,295,461,650,251,1798,malmø,malmø,NaN,NaN,NaN,NaN,NaN
1476,rendsborg,191,186,632,416,229,77,1731,rendsborg,rendsborg,NaN,NaN,NaN,NaN,NaN
1614,egtved vejle amt,8,0,1,67,0,1524,1600,egtved vejle amt,egtved vejle amt,NaN,NaN,NaN,NaN,NaN
1617,wiborg,363,843,205,122,43,22,1598,wiborg,wiborg,NaN,NaN,NaN,NaN,NaN
1620,aistrup sogn,91,104,899,470,0,32,1596,"aistrup sogn, aalborg amt",aalborg amt,NaN,NaN,NaN,NaN,NaN
1640,avlum,502,549,297,232,0,5,1585,avlum,avlum,NaN,NaN,NaN,NaN,NaN
1653,fyen,225,279,304,140,125,502,1575,fyen,fyen,NaN,NaN,NaN,NaN,NaN
1705,saxkjøbing,340,405,207,225,238,128,1543,saxkjøbing,saxkjøbing,NaN,NaN,NaN,NaN,NaN
1755,hillerød frederiksborg amt,3,0,20,26,1,1460,1510,hillerød frederiksborg amt,hillerød frederiksborg amt,NaN,NaN,NaN,NaN,NaN
1774,kjerte sogn,126,60,127,1157,0,28,1498,"kjerte sogn, odense amt",odense amt,NaN,NaN,NaN,NaN,NaN
1806,kjærum sogn,75,32,70,990,0,319,1486,"kjærum sogn, odense amt",odense amt,NaN,NaN,NaN,NaN,NaN
1830,island,168,238,250,326,306,179,1467,island,island,NaN,NaN,NaN,NaN,NaN
1841,i sog,923,267,270,1,0,0,1461,i sog,i sog,NaN,NaN,NaN,NaN,NaN
1883,gjelsted sogn,113,65,42,1203,0,23,1446,"gjelsted sogn, odense amt",odense amt,NaN,NaN,NaN,NaN,NaN
1958,bregninge (taasinge),1408,0,0,0,0,0,1408,bregninge (taasinge) sogn,,NaN,NaN,NaN,NaN,NaN
1973,""""""" [odense]""",0,528,198,676,0,0,1402,""""""" [odense]""",""""""" [odense]""",NaN,NaN,NaN,NaN,NaN
2084,kallehave,4,568,293,319,77,93,1354,kallehave,kallehave,NaN,NaN,NaN,NaN,NaN
2120,tydskland,92,126,269,328,385,135,1335,tydskland,tydskland,NaN,NaN,NaN,NaN,NaN
2134,ikke oplyst,5,6,44,13,842,413,1323,ikke oplyst,ikke oplyst,NaN,NaN,NaN,NaN,NaN
2135,dragør ],0,570,753,0,0,0,1323,dragør ],dragør ],NaN,NaN,NaN,NaN,NaN
2166,i s:],630,681,4,0,0,0,1315,i s:],i s:],NaN,NaN,NaN,NaN,NaN
2234,altona,233,153,348,263,141,136,1274,altona,altona,NaN,NaN,NaN,NaN,NaN
2304,maribo by & amt,0,0,0,0,0,1241,1241,maribo by & amt,maribo by & amt,NaN,NaN,NaN,NaN,NaN
2467,møen,188,248,203,158,156,215,1168,møen,møen,NaN,NaN,NaN,NaN,NaN
2525,hieselbst,809,0,339,0,0,0,1148,hieselbst,hieselbst,NaN,NaN,NaN,NaN,NaN
2537,julianehaab (qaqortok),1144,0,0,0,0,0,1144,julianehaab (qaqortok),julianehaab (qaqortok),NaN,NaN,NaN,NaN,NaN

In [314]:

0/0

ZeroDivisionError: division by zero

# Adding DigDag info and saving

In [ ]:
# Getting the digDag info for the matches but also for the non matches

m = concatenate.merge(dd2[['navn','simplename', 'art', 'enhedid']].sort_values('art', ascending=False).drop_duplicates('simplename',keep='first'), left_on='potential_match', right_on='simplename', how='inner')
m = m[['original','potential_match','score','navn','art','enhedid', 'simplename']]

w = dd2.sort_values('art', ascending=False).drop_duplicates('simplename',keep='first')
w['potential_match'] = w['simplename']
w['original'] = w['simplename']
w['score'] = 1

m = pd.concat([w, m], sort=True)


#Putting the things into place
m['original'] = np.where(m.original.isna(), m['simplename'], m['original'])

print(len(concatenate), len(m))
m.head()

In [ ]:
#Getting the counts for the original plus the counts for the potential matches in DigDag
#Warning: Potential matches may not exist in the data...
out = m.merge(out_list, left_on='original', right_on=focus_column+'_data', how='left').merge(out_list, left_on='potential_match', right_on=focus_column+'_data', how='left').fillna(0)
for y in ['1845', '1850', '1860', '1880', '1885', '1901']:
    out[y] = out[y+'_x'] + out[y+'_y']
out = out[['original', 'potential_match', 'score', 'navn', 'art', 'enhedid', '1845', '1850', '1860', '1880', '1885', '1901']].sort_values('original')
out.to_csv(_path+'../out/birthplaces_possible_matches_jaro_01.tsv', sep='\t', index=False)

In [ ]:
print('Done! :D')

## Generating file to check the validity of the mapping jaro 0.9

In [317]:
import random
import pandas as pd

df = pd.read_csv(out_folder+'birthplaces_FT_jaro0.9_02.tsv', sep = '\t', dtype=str)

max_example = 5

names    = df.navn.tolist()
extendeds = df.extended_digdag.tolist()

out = []
for name, extended in zip(names, extendeds):
    extended = list(eval(extended))
    #m = min(len(extended), max_example)
    samp = random.sample(extended, k= min(len(extended), max_example))
    for s in samp:
        out.append([name, s])

dfout = pd.DataFrame(out, columns= ['DigDag', 'matches (0.9)'])
dfout.to_csv(out_folder+'validity_jaro.tsv', sep='\t', index=False)

! cp $out_folder/validity_jaro.tsv /data/import/roc/validity_jaro.tsv
! cp $out_folder/validity_jaro.tsv /home/roregu/workspace/git_out/downloading_stuff/validity_jaro.tsv

print('Saved!')

Saved!

In [316]:
pd.read_csv(out_folder+'birthplaces_FT_jaro0.9_02.tsv', sep = '\t', dtype=str)

,navn,enhedid,art,1845,1850,1860,1880,1885,1901,extended_digdag
0,Aabenraa Sogn,113932,sogn,74,38,7540,626,240,390,"{'aabenraa kjbst', 'aabenraa sogn', 'aabenraa ..."
1,Aaker Sogn,115247,sogn,1209,3534,2364,2857,25,2852,"{'aakersogen', 'aakker', 'aaker s', 'aaker sog..."
2,Aal Sogn,115248,sogn,1657,1937,2013,971,1,1592,"{'aal s', ' aal', 'ahal', 'aael', 'aahl', 'aa'..."
3,Aarestrup Sogn,115255,sogn,716,737,934,879,17,785,"{'raastrup', 'gaarstrup', 'harestrup', 'aardes..."
4,Abild Sogn,113795,sogn,122,147,1679,29,16,116,"{'abildhave', 'abild', 'abildhauge', 'bild', '..."
...,...,...,...,...,...,...,...,...,...,...
2189,Østerlarsker Sogn,115236,sogn,1260,1553,1417,1600,12,1815,"{'østrelarsker ', 'østerlsrsker', 'øster larsk..."
2190,Østermarie Sogn,115237,sogn,1853,3765,2151,2430,48,2743,"{'østermarie]', 'østermaria', 'øster mark ', '..."
2191,Østervold Sogn,115238,sogn,7,1,5,3,3,2,"{'øster moland ', 'østervad', 'øster gotland',..."
2192,Østofte Sogn,115239,sogn,2948,2852,4243,3206,88,1742,"{'østofte sogn', 'ørtofte', 'søetofte', 'østof..."
2193,Østrup Sogn,115240,sogn,925,974,1076,1405,144,1337,"{'østrup holme', 'høstrup', 'høistrup', 'østen..."