# Birthplace (fødested) cleaning
Here I inted to clean the birthplace (fødested) field in the data. Notice that the pre-processing scripts are in city_unification (conversion to UTF8, etc.)

## Libraries

In [1]:
#Importing libraries for data management
import pandas as pd
import numpy as np

#Importing libraries for system management
import os

#Distance computation
from pyjarowinkler import distance
import Levenshtein

## Reading DigDag
and expanding with variations

In [2]:
# This function adds extra rows in the dataframe *dd* for the 
# places where *word* exists and replaces it with *replacement*
def adding_extra_rows(dd, word, replacement):
    dd['special'] = dd['simplename'].apply(lambda x: word in x) 
    dd['simplename2'] = dd.simplename.apply(lambda x: x.replace(word,replacement))
    return pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

In [3]:
#The digdag seems to have duplicates which I do not understand why
dd = pd.read_csv('../../city_dump/data/rl_places_digdag_v1.txt', sep = '\t', encoding='utf-16', dtype=str)
dd_org = dd.copy()

#Getting the Købstad and putting it to the original data
dd2 = pd.read_csv('../../city_dump/data/koebstad.csv', sep = ';', encoding='utf-8', dtype=str)
dd2['enhedtype'] = dd2['art'] 
dd = pd.concat([dd, dd2[~dd2.isna()][['navn','enhedid','enhedtype','art','simplename']]])
dd['simplename'] = dd['simplename'].astype(str)


#Moving the Købstad to the right column
dd['art'] = np.where(dd['enhedtype'] == 'Købstad', ['Købstadskommune']*len(dd), dd['art'])

#adding a conversion of special characters to latin letters (å -> aa, ø -> oe, æ -> ae) and adding them to the reference list
dd = adding_extra_rows(dd, 'å', 'aa')
dd = adding_extra_rows(dd, 'ø', 'oe')
dd = adding_extra_rows(dd, 'æ', 'ae')

#Preparing the names to append them at the simple name
dd['art'] = dd['art'].apply({'Amt':'amt', 'Sogn':'sogn','Købstadskommune':'købstad', 'Geografisk Herred':'herred', 'Processing':''}.get)

#Adding a duplicated list of their unit type to increase matches
dd['simplename2'] = dd.apply(lambda row: str(row['simplename'])+' '+str(row['art']), axis=1)
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Adding the plural købstæder as well
dd = adding_extra_rows(dd, 'købstad', 'købstæder')

#Adding spaces instead of hyphens (new rows)
dd = adding_extra_rows(dd, '-', ' ')

#Removing spaces (new rows)
dd = adding_extra_rows(dd, ' ', '')

#Adding bysogn and landsogn (new rows)
dd = adding_extra_rows(dd, 'sogn', 'bysogn')
dd = adding_extra_rows(dd, 'sogn', 'landsogn')

#adding rows where the last letter's "e" will be removed
dd['special'] = dd['simplename'].str[-1] == 'e'
dd['simplename2'] = dd['simplename'].str[:-1]
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Dropping duplicates from digdag
#print(dd[dd.duplicated('simplename', keep=False)].sort_values('simplename').head(30))
dd.drop_duplicates(['art','simplename'], keep='first', inplace=True)

#Drop 'Non' from the list, this may be one of my artifacts...
dd = dd[(dd.simplename.apply(lambda x: not 'Non' in x))]

# TODO take into consideration that the same city name can be in varios geographical areas...
# It should be matched with herred to increase accuracy for each record. However, right now we're only cleaning
# not sure how pressing the issue is...
nr_sogn = len(dd_org[dd_org.art=='Sogn'].simplename.unique()) 
dd.head(20)

#TODO: Right now I can map things to amt for example which should not be the case...
#dd =dd[dd.art='sogn']

                     navn enhedid enhedtype  art     simplename
0            Kronborg Amt  118765        11  amt       kronborg
1              Præstø Amt  118791        11  amt         præstø
2           Bornholms Amt  118792        11  amt      bornholms
3           Svendborg Amt  118813        11  amt      svendborg
4              Ålborg Amt  118819        11  amt         ålborg
5                Sorø Amt  118785        11  amt           sorø
6               Århus Amt  118846        11  amt          århus
7            Hjørring Amt  118820        11  amt       hjørring
8             Bøvling Amt  118851        11  amt        bøvling
9               Vejle Amt  118849        11  amt          vejle
10            Dueholm Amt  118821        11  amt        dueholm
11               Ørum Amt  118824        11  amt           ørum
12            Thisted Amt  118826        11  amt        thisted
13             Viborg Amt  118830        11  amt         viborg
14         Ringkøbing Amt  118853        11  amt     ringkøbing
15     Københavns Kommune  370923        11  amt     københavns
16  Frederiksberg Kommune  370924        11  amt  frederiksberg
17               Fyns Amt  118739        11  amt           fyns
18           Sæbygård Amt  118773        11  amt       sæbygård
19               Ribe Amt  118855        11  amt           ribe

In [4]:
print('length original:\t', len(dd_org), '\nlength modified:\t', len(dd), '\nunique sogn keys:\t', nr_sogn)

length original:	 2519
length modified:	 27097
unique sogn keys:	 1924

## Processing functions

In [5]:
#Get the df from the $ separated file (for some reason pandas has problems with random lines)
def get_df(f_path):
    r= []
    columns = []
    with open(f_path) as f:
        first = True
        for line in f:
            line = line.rstrip().split('$')
            if first:
                length = len(line)
                columns = line
                first=False
            else:
                r.append(line[:length])
                
    return pd.DataFrame(data=r, columns = columns)

In [6]:
# Name cleaning function
def name_cleaner(s, working_column):
    try:
        o =s[working_column].lower().rstrip().replace('  ', ' ')
        #if it says "her i sogn", I get the value for "Sogn" and put it there
        if ('heri sogn' in o or 'her i sogn' in o) and working_column != 'Sogne':
            return name_cleaner(s, 'Sogne')
        return o
    except:
        return np.nan

In [7]:
# List of files to work (with the 1901 collapsed)
working_data = ['ft1845_LL.txt',
 'ft1850_LL.txt',
 'ft1860_LL.txt',
 'ft1880_LL.txt',
 'ft1885_LL.txt',
 'ft1901_LL.txt']

## Loading data and counting

In [8]:
_path = '../../city_dump/data/utf8/'
focus_column = 'fødested'

In [ ]:
#This is where I save the counts and then group it together
out_list = []

#where I save the missmatches and file year
missmatches = []
total_records = 0

for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing (ask Barbara to provide me the UTF-8...)
    df = df[~df[focus_column].isna() & (df[focus_column] !='')]
    print(len(df))
    total_records = total_records + len(df)
    
    #Preforming the name cleaning, be aware that I replace "her i sogn" in there
    df[focus_column+'_data'] = df.apply(lambda row: name_cleaner(row, focus_column), axis=1)
    
    #Reducing Dimensionality and saving in RAM
    out = df.groupby(focus_column+'_data').size().reset_index(name = 'counts')
    out['year'] = f[2:6]
    out_list.append(out)

    
out_list = pd.concat(out_list, sort=False)
print('Done! :D')

out_list.sort_values('counts',ascending=False)

ft1845_LL.txt
1415056
ft1850_LL.txt
1383276
ft1860_LL.txt
1715130
ft1880_LL.txt
1960921
ft1885_LL.txt
325340
ft1901_LL.txt
1975438
Done! :D

                        fødested_data  counts  year
19850                      kjøbenhavn  134653  1885
53400                      kjøbenhavn   85495  1860
78465                      kjøbenhavn   75245  1880
83080                       københavn   68462  1880
58603                      kjøbenhavn   46942  1845
48559                      kjøbenhavn   44015  1850
96088                       københavn   40997  1901
43688                        i sognet   26408  1850
18585                             do.   23181  1850
4578                           aarhus   22638  1901
89842                      kjøbenhavn   22607  1901
120956                         odense   22562  1901
61869                       københavn   21034  1845
56111                       københavn   16230  1860
51651                        i sognet   15795  1845
21182                       københavn   15581  1885
3955                          aalborg   15334  1901
102648                         odense   13408  1880
48223                        i sognet   12990  1860
72966                         horsens   12302  1901
8268                           aarhus   12183  1880
6                                   -   12072  1901
7812                          aalborg   10335  1880
50898                       københavn    9335  1850
69877                          odense    9279  1860
14312                              do    8775  1850
64764                         horsens    8584  1880
75313                          odense    8357  1845
123749                        slesvig    8097  1880
3860                          aalborg    8049  1860
...                               ...     ...   ...
87242           stabye sogn, ribe amt       1  1860
87246    stabye sogn, ringkjøbing amt       1  1860
87249          stabye, ringkjøbing a.       1  1860
87252                       stad pløn       1  1860
87234             stabye [ringk. amt]       1  1860
87256      stadager sogn . maribo amt       1  1860
87258    stadager sogn, maribo amt !!       1  1860
87259               stadager, falster       1  1860
87261        staddil, ringkjøbing amt       1  1860
87263    stade [serritslev s.] hj. a.       1  1860
87264               stade burkal sogn       1  1860
87235              stabye ringkjöbing       1  1860
87232   staby?? sogn, ringkjøbing amt       1  1860
87200       staby sogn [hjørring amt]       1  1860
87212         staby sogn, ringkjøbing       1  1860
87202       staby sogn ringkæbing amt       1  1860
87203       staby sogn ringkøbing amt       1  1860
87204   staby sogn, [ringkjøbing amt]       1  1860
87207            staby sogn, rgkj.amt       1  1860
87209           staby sogn, ringk.amt       1  1860
87211       staby sogn, ringkjøb. amt       1  1860
87215   staby sogn, ringkøbing amt !!       1  1860
87231                          staby?       1  1860
87216   staby sogn, ringkøbing amt ??       1  1860
87219           staby sogn, rkbg. amt       1  1860
87220       staby sogn,ringkøbing amt       1  1860
87221     staby sogn. ringkjøbing amt       1  1860
87223                   staby, rgk.a.       1  1860
87227            staby, ringkjøbing a       1  1860
206672          ẅẅs. vilstrup . vejle       1  1901

[760657 rows x 3 columns]

In [ ]:
#Putting it nicely, on a more horitzontal table
out_list = out_list.pivot(focus_column+'_data', 'year', 'counts').fillna(0).astype(int).reset_index().reset_index(drop=True)
out_list = pd.DataFrame(out_list.values, columns=out_list.columns.tolist()) #Getting rid of the wrong index
out_list['total'] = out_list.apply(lambda row: row['1845']+row['1850']+row['1860']+row['1880']+row['1885']+row['1901'],axis=1)
out_list.sort_values('total', ascending=False, inplace=True)
out_list.total.sum() #Around the 14k first places compule 80% of the people
out_list.head(50)

,fødested_data,1845,1850,1860,1880,1885,1901,total
281450,kjøbenhavn,46942,44015,85495,75245,134653,22607,408957
298127,københavn,21034,9335,16230,68462,15581,40997,171639
369718,odense,8357,6530,9279,13408,3020,22562,63156
251691,i sognet,15795,26408,12990,4689,0,67,59949
21199,aarhus,4063,4594,1710,12183,1859,22638,47047
19484,aalborg,5986,2750,8049,10335,2160,15334,44614
230135,horsens,4268,3117,5708,8584,1414,12302,35393
207802,helsingør,1190,5830,6776,7832,3040,7490,32158
106756,do.,10,23181,6,5249,0,0,28446
387680,randers,5773,4068,7421,3934,1811,4474,27481
145142,fredericia,3725,2446,5158,4482,939,7853,24603
481188,sverrig,735,1835,4162,7150,4113,5489,23484
446937,slagelse,2840,3038,3777,5453,2164,4539,21811
479726,svendborg,2092,1019,4147,4881,1062,6823,20024
481113,sverige,308,1031,3637,6369,2897,5692,19934
565095,viborg,1024,2511,4029,5193,857,5536,19150
448328,slesvig,292,3264,1767,8097,862,3573,17855
355709,nyborg,2045,2793,3346,3708,980,4744,17616
287463,kolding,814,1032,2931,4547,719,6234,16277
277949,kiøbenhavn,7777,3559,1997,1051,1581,86,16051
145625,frederiksberg,699,262,1076,3465,5975,3027,14504
346636,nakskov,1869,2219,2826,1706,1024,4741,14385
39358,assens,2228,1821,3013,2768,648,3254,13732
505385,thisted,1384,1876,2525,3033,610,3438,12866
5738,??,1887,1194,2530,4908,144,2139,12802
36,-,16,3,57,23,0,12072,12171
400504,roskilde,465,2125,952,2684,1341,4565,12132
407598,rønne,419,801,1035,3258,700,5681,11894
209633,her i s.,3486,1888,5494,6,0,0,10874
221508,hjørring,1000,761,1429,3007,421,4123,10741
290452,korsør,338,1220,1509,3139,724,3583,10513
337361,middelfart,1435,1497,1851,2339,329,2520,9971
553018,veile,354,1966,2730,3562,677,466,9755
110979,dronninglund,2645,3084,28,2167,15,1806,9745
483644,sæby,1251,1722,2504,2428,188,1506,9599
511567,tikøb,3705,3271,10,2463,30,116,9595
393606,ribe,1936,588,2824,2714,446,1015,9523
93832,do,0,8775,433,36,0,143,9387
223213,holbæk,689,781,989,3141,1104,2504,9208
189812,haderslev,679,553,5525,1188,478,732,9155
361196,næstved,401,991,2079,2052,697,2911,9131
128803,faaborg,1083,602,2232,2051,597,2499,9064
407636,rønne købstad - bornholms amt,3003,2747,3122,0,0,0,8872
21415,aarhuus,1675,1432,4402,650,391,174,8724
396589,ringsted,1274,1364,1645,1936,830,1511,8560
481070,sverig,38,222,851,2631,1121,3540,8403
549020,varde,312,1181,1731,2045,265,2773,8307
154051,født i sognet,2471,5115,533,53,0,4,8176
352468,nordby,2426,1708,1751,840,5,1334,8064
329056,magleby,1388,3300,1809,928,50,502,7977

## Basic matches

In [ ]:
#Notice that I only match for Sogn
out = out_list.merge(dd[['navn','simplename', 'art', 'enhedid']], left_on=focus_column+'_data', right_on='simplename', how='left')

#Those are the missmatch
miss = out[out.enhedid.isna()]
miss.head()

#Here are the match
match = out[~out.enhedid.isna()]
match.head()

# Aggregating the match by enhedid and year
agg_counts = match.groupby(['navn', 'enhedid', 'art'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

# Grouping all enhedid to see how many different versions of the same Sogne we have in the data
diff_counts = match.groupby(['navn','enhedid'])[focus_column+'_data'].apply(set).reset_index(name='extended_digdag') #if parenthesis is confusing add **.apply(lambda x: ', '.join(x))** before the reset index

# Joining DFs and saving
s = agg_counts.merge(diff_counts, on = ['navn','enhedid'])
s.to_csv(_path+'../out/birthplaces_FT_uniquevalues_01.tsv', sep='\t', index=False)
print(len(s))
s.head()

2065

,navn,enhedid,art,1845,1850,1860,1880,1885,1901,extended_digdag
0,Aabenraa Sogn,113932,sogn,32,16,3667,266,105,133,"{aabenraa, aabenraa sogn}"
1,Aaker Sogn,115247,sogn,0,1783,2058,2667,2,280,"{aaker sogn, aaker, aakersogn}"
2,Aal Sogn,115248,sogn,686,775,793,226,0,48,"{aal, aalsogn, aal sogn}"
3,Aarestrup Sogn,115255,sogn,299,284,344,222,1,35,"{aarestrup, aarestrup sogn}"
4,Abild Sogn,113795,sogn,24,1,36,1,3,9,"{abild, abild sogn}"

## Computing Jaro distances for the missmatches

In [ ]:
#Getting the potential first matches

mm = miss[focus_column+'_data'].unique()
sn = dd_org.simplename.unique() # Using the short version of dig dag to make it much faster (>x10)

distance_jaro = np.zeros((len(sn),len(mm)))

def compute_jaro(a,b):
    try:
        return distance.get_jaro_distance(a, b)
    except:
        return 0

for i in range(len(sn)):
    if i%100 == 0: print(i, 'out of' , len(sn))
        
    #Computing jaro only
    distance_jaro[i] = miss[focus_column+'_data'].apply(lambda x: compute_jaro(sn[i], x)).values
    
        
#Index is the reference names found in digdag the columns the original data
distance_jaro = pd.DataFrame(data = distance_jaro, columns = mm, index = sn)
print(distance_jaro.shape, 'len mm,sn:', len(mm), len(sn)) #(26428, 1237)
distance_jaro.head()

0 out of 2083
100 out of 2083
200 out of 2083
300 out of 2083
400 out of 2083
500 out of 2083
600 out of 2083
700 out of 2083
800 out of 2083
900 out of 2083
1000 out of 2083
1100 out of 2083
1200 out of 2083
1300 out of 2083
1400 out of 2083
1500 out of 2083
1600 out of 2083
1700 out of 2083
1800 out of 2083
1900 out of 2083
2000 out of 2083
(2083, 606466) len mm,sn: 606466 2083

,kjøbenhavn,i sognet,do.,sverrig,sverige,slesvig,kiøbenhavn,??,-,her i s.,...,"høien, nør jylland","høien, holbæk","høien, aarhuus amt","høien,",høien weile amt,høien vejle,høien veile amt??,høien veile,høien v a,ẅẅs. vilstrup . vejle
kronborg,0.50,0.47,0.49,0.60,0.51,0.42,0.50,0.0,0.0,0.42,...,0.45,0.47,0.45,0.43,0.40,0.41,0.39,0.41,0.41,0.39
præstø,0.42,0.53,0.00,0.37,0.37,0.44,0.42,0.0,0.0,0.53,...,0.41,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.40
bornholms,0.54,0.49,0.48,0.42,0.42,0.00,0.54,0.0,0.0,0.46,...,0.28,0.50,0.28,0.43,0.40,0.42,0.39,0.42,0.31,0.44
svendborg,0.43,0.59,0.00,0.83,0.77,0.63,0.43,0.0,0.0,0.41,...,0.50,0.52,0.50,0.52,0.45,0.47,0.45,0.47,0.48,0.49
ålborg,0.42,0.53,0.00,0.54,0.54,0.54,0.42,0.0,0.0,0.43,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [ ]:
distance_jaro.to_csv(_path+'../out/jaro_birthplaces.tsv', sep='\t', index=False)

## Computing the best match with a minimum threshold

In [ ]:
THRESHOLD = 0.9

#Getting the highest match for each Sogne and filtering threshold
a = distance_jaro.idxmax().reset_index(name = 'potential_match')
b = distance_jaro.max().reset_index(name='jaro')
dfmap = a.merge(b, on='index').rename(columns={'index':'data_name'})
dfmap.to_csv(_path+'../out/mapping_birthplaces.tsv', sep='\t', index=False)
dfmap = dfmap[dfmap.jaro.astype(float) >= THRESHOLD]
dfmap.head()

#Getting the mapped info into DigDag v2 (not really the v2)
dd2 = dfmap.merge(dd[['navn','simplename', 'art', 'enhedid']].sort_values('art', ascending=False).drop_duplicates('simplename', keep='first'), left_on='potential_match', right_on='simplename')
dd2['simplename'] = dd2['data_name']
dd2 = dd2[['navn','enhedid','art','simplename']]
dd2 = pd.concat([dd2[['navn','simplename', 'art', 'enhedid']], dd], sort=False) #putting together
dd2.head()

In [ ]:
# Starting again with the merges
out = out_list.merge(dd2, left_on=focus_column+'_data', right_on='simplename', how='left')

#Those are the missmatch
miss = out[out.enhedid.isna()]
miss.head()

#Here are the match
match = out[~out.enhedid.isna()]
match.head()

# Aggregating the match by enhedid and year
agg_counts = match.groupby(['navn', 'enhedid', 'art'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

# Grouping all enhedid to see how many different versions of the same Sogne we have in the data
diff_counts = match.groupby(['navn','enhedid'])[focus_column+'_data'].apply(set).reset_index(name='extended_digdag') #if parenthesis is confusing add **.apply(lambda x: ', '.join(x))** before the reset index

# Joining DFs and saving
s = agg_counts.merge(diff_counts, on = ['navn','enhedid'])
s.to_csv(_path+'../out/birthplaces_FT_jaro0.9_01.tsv', sep='\t', index=False)
print(len(s))
s.head()

## Getting counts for other possible matches (broke here)

In [ ]:
0/0

In [ ]:
# Get the best possible matches

concatenate = []
i=0
for col in distance_jaro.columns:
    i = i+1
    if i % 100 == 0: print(i, 'out of', len(distance_jaro.columns))
    aux = distance_jaro.nlargest(5, col)[[col]]
    aux.columns = ['score']
    aux['original'] = col
    concatenate.append(aux)

concatenate = pd.concat(concatenate, sort=False)
concatenate = concatenate.reset_index()
concatenate.columns = ['potential_match','score','original']
concatenate[['original','potential_match','score']][~concatenate.original.isin(concatenate[(concatenate.score >= THRESHOLD) & ~concatenate.original.isna()].original.unique())].to_csv(_path+'../out/birthplaces_possible_matches_jaro_01.tsv', index=False, sep='\t')

concatenate = pd.read_csv(_path+'../out/birthplaces_possible_matches_jaro_01.tsv',  sep='\t')
concatenate.head(15)

In [ ]:
# Getting the digDag info for the matches but also for the non matches

m = concatenate.merge(dd2[['navn','simplename', 'art', 'enhedid']].sort_values('art', ascending=False).drop_duplicates('simplename',keep='first'), left_on='potential_match', right_on='simplename', how='inner')
m = m[['original','potential_match','score','navn','art','enhedid', 'simplename']]

w = dd2.sort_values('art', ascending=False).drop_duplicates('simplename',keep='first')
w['potential_match'] = w['simplename']
w['original'] = w['simplename']
w['score'] = 1

m = pd.concat([w, m], sort=True)


#Putting the things into place
m['original'] = np.where(m.original.isna(), m['simplename'], m['original'])

print(len(concatenate), len(m))
m.head()

In [ ]:
#Getting the counts for the original plus the counts for the potential matches in DigDag
#Warning: Potential matches may not exist in the data...
out = m.merge(out_list, left_on='original', right_on='Sogne_data', how='left').merge(out_list, left_on='potential_match', right_on=focus_column+'_data', how='left').fillna(0)
for y in ['1845', '1850', '1860', '1880', '1885', '1901']:
    out[y] = out[y+'_x'] + out[y+'_y']
out = out[['original', 'potential_match', 'score', 'navn', 'art', 'enhedid', '1845', '1850', '1860', '1880', '1885', '1901']].sort_values('original')
out.to_csv(_path+'../out/birthplaces_possible_matches_jaro_01.tsv', sep='\t', index=False)

In [ ]:
print('Done! :D')