# Birthplace (fødested) cleaning
Here I inted to clean the birthplace (fødested) field in the data. Notice that the pre-processing scripts are in city_unification (conversion to UTF8, etc.)

## Libraries

In [2]:
#Importing libraries for data management
import pandas as pd
import numpy as np

#Importing libraries for system management
import os

#Distance computation
from pyjarowinkler import distance
import Levenshtein

## Reading DigDag
and expanding with variations

In [3]:
# This function adds extra rows in the dataframe *dd* for the 
# places where *word* exists and replaces it with *replacement*
def adding_extra_rows(dd, word, replacement):
    dd['special'] = dd['simplename'].apply(lambda x: word in x) 
    dd['simplename2'] = dd.simplename.apply(lambda x: x.replace(word,replacement))
    return pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

In [4]:
#The digdag seems to have duplicates which I do not understand why
dd = pd.read_csv('../../city_dump/data/rl_places_digdag_v1.txt', sep = '\t', encoding='utf-16', dtype=str)
dd_org = dd.copy()

#Getting the Købstad and putting it to the original data
dd2 = pd.read_csv('../../city_dump/data/koebstad.csv', sep = ';', encoding='utf-8', dtype=str)
dd2['enhedtype'] = dd2['art'] 
dd = pd.concat([dd, dd2[~dd2.isna()][['navn','enhedid','enhedtype','art','simplename']]])
dd['simplename'] = dd['simplename'].astype(str)


#Moving the Købstad to the right column
dd['art'] = np.where(dd['enhedtype'] == 'Købstad', ['Købstadskommune']*len(dd), dd['art'])

#adding a conversion of special characters to latin letters (å -> aa, ø -> oe, æ -> ae) and adding them to the reference list
dd = adding_extra_rows(dd, 'å', 'aa')
dd = adding_extra_rows(dd, 'ø', 'oe')
dd = adding_extra_rows(dd, 'æ', 'ae')

#Preparing the names to append them at the simple name
dd['art'] = dd['art'].apply({'Amt':'amt', 'Sogn':'sogn','Købstadskommune':'købstad', 'Geografisk Herred':'herred', 'Processing':''}.get)

#Adding a duplicated list of their unit type to increase matches
dd['simplename2'] = dd.apply(lambda row: str(row['simplename'])+' '+str(row['art']), axis=1)
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Adding the plural købstæder as well
dd = adding_extra_rows(dd, 'købstad', 'købstæder')

#Adding spaces instead of hyphens (new rows)
dd = adding_extra_rows(dd, '-', ' ')

#Removing spaces (new rows)
dd = adding_extra_rows(dd, ' ', '')

#Adding bysogn and landsogn (new rows)
dd = adding_extra_rows(dd, 'sogn', 'bysogn')
dd = adding_extra_rows(dd, 'sogn', 'landsogn')

#adding rows where the last letter's "e" will be removed
dd['special'] = dd['simplename'].str[-1] == 'e'
dd['simplename2'] = dd['simplename'].str[:-1]
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Dropping duplicates from digdag
#print(dd[dd.duplicated('simplename', keep=False)].sort_values('simplename').head(30))
dd.drop_duplicates(['art','simplename'], keep='first', inplace=True)

#Drop 'Non' from the list, this may be one of my artifacts...
dd = dd[(dd.simplename.apply(lambda x: not 'Non' in x))]

# TODO take into consideration that the same city name can be in varios geographical areas...
# It should be matched with herred to increase accuracy for each record. However, right now we're only cleaning
# not sure how pressing the issue is...
nr_sogn = len(dd_org[dd_org.art=='Sogn'].simplename.unique()) 
dd.head(20)

#TODO: Right now I can map things to amt for example which should not be the case...
#dd =dd[dd.art='sogn']

                     navn enhedid enhedtype  art     simplename
0            Kronborg Amt  118765        11  amt       kronborg
1              Præstø Amt  118791        11  amt         præstø
2           Bornholms Amt  118792        11  amt      bornholms
3           Svendborg Amt  118813        11  amt      svendborg
4              Ålborg Amt  118819        11  amt         ålborg
5                Sorø Amt  118785        11  amt           sorø
6               Århus Amt  118846        11  amt          århus
7            Hjørring Amt  118820        11  amt       hjørring
8             Bøvling Amt  118851        11  amt        bøvling
9               Vejle Amt  118849        11  amt          vejle
10            Dueholm Amt  118821        11  amt        dueholm
11               Ørum Amt  118824        11  amt           ørum
12            Thisted Amt  118826        11  amt        thisted
13             Viborg Amt  118830        11  amt         viborg
14         Ringkøbing Amt  118853        11  amt     ringkøbing
15     Københavns Kommune  370923        11  amt     københavns
16  Frederiksberg Kommune  370924        11  amt  frederiksberg
17               Fyns Amt  118739        11  amt           fyns
18           Sæbygård Amt  118773        11  amt       sæbygård
19               Ribe Amt  118855        11  amt           ribe

In [5]:
print('length original:\t', len(dd_org), '\nlength modified:\t', len(dd), '\nunique sogn keys:\t', nr_sogn)

length original:	 2519
length modified:	 27097
unique sogn keys:	 1924

## Processing functions

In [6]:
#Get the df from the $ separated file (for some reason pandas has problems with random lines)
def get_df(f_path):
    r= []
    columns = []
    with open(f_path) as f:
        first = True
        for line in f:
            line = line.rstrip().split('$')
            if first:
                length = len(line)
                columns = line
                first=False
            else:
                r.append(line[:length])
                
    return pd.DataFrame(data=r, columns = columns)

In [14]:
# Name cleaning function
def name_cleaner(s, working_column):
    try:
        o =s[working_column].lower().rstrip().replace('  ', ' ')
        return o
    except:
        return np.nan

In [15]:
# List of files to work (with the 1901 collapsed)
working_data = ['ft1845_LL.txt',
 'ft1850_LL.txt',
 'ft1860_LL.txt',
 'ft1880_LL.txt',
 'ft1885_LL.txt',
 'ft1901_LL.txt']

## Loading data and counting

In [28]:
_path = '../../city_dump/data/utf8/'
focus_column = 'fødested'

#This is where I save the counts and then group it together
out_list = []

#where I save the missmatches and file year
missmatches = []
total_records = 0

for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing (ask Barbara to provide me the UTF-8...)
    df = df[~df[focus_column].isna() & (df[focus_column] !='')]
    print(len(df))
    total_records = total_records + len(df)
    
    #Preforming the name cleaning for Sogne, Herred, and Amt
    df[focus_column+'_data'] = df.apply(lambda x: name_cleaner(x, focus_column), axis=1)
    
    #Reducing Dimensionality and saving in RAM
    out = df.groupby(focus_column+'_data').size().reset_index(name = 'counts')
    out['year'] = f[2:6]
    out_list.append(out)
    
out_list = pd.concat(out_list, sort=False)
print('Done! :D')

out_list.sort_values('counts',ascending=False)

ft1845_LL.txt
1415056
ft1850_LL.txt
1383276
ft1860_LL.txt
1715130
ft1880_LL.txt
1960921
ft1885_LL.txt
325340
ft1901_LL.txt
1975438
Done! :D

                             fødested_data  counts  year
36548                         her i sognet  268241  1850
59605                         her i sognet  201757  1880
43538                         her i sognet  183452  1845
40537                         her i sognet  178218  1860
19850                           kjøbenhavn  134653  1885
53944                           kjøbenhavn   85495  1860
44187                          heri sognet   76384  1845
79604                           kjøbenhavn   75245  1880
84221                            københavn   68462  1880
59353                           kjøbenhavn   46942  1845
49506                           kjøbenhavn   44015  1850
96107                            københavn   40997  1901
44627                             i sognet   26408  1850
16464                    do [her i sognet]   24759  1850
327                          *her i sognet   23311  1860
18883                                  do.   23181  1850
4581                                aarhus   22638  1901
89861                           kjøbenhavn   22607  1901
120975                              odense   22562  1901
62607                            københavn   21034  1845
41003                          heri sognet   18038  1860
56653                            københavn   16230  1860
52392                             i sognet   15795  1845
21182                            københavn   15581  1885
3958                               aalborg   15334  1901
380                          *her i sognet   14545  1850
103822                              odense   13408  1880
48752                             i sognet   12990  1860
72985                              horsens   12302  1901
19852                    do [her i sognet]   12219  1845
...                                    ...     ...   ...
87141                 st. andst s. ribe a.       1  1860
87142              st. andst sogn ribe amt       1  1860
87143             st. andst sogn, ribe amt       1  1860
87145               st. anne s., aalb. amt       1  1860
87126                 st. ??..løse. holbek       1  1860
87147           st. arden sogn aalborg amt       1  1860
87148                           st. astrup       1  1860
87149               st. astrup aalborg amt       1  1860
87150         st. astrup sogn, aalborg amt       1  1860
87151                 st. aunen, dithmarsk       1  1860
87152                        st. bartolo??       1  1860
87127                            st. ??bye       1  1860
87125                   st. ??, vestindien       1  1860
87108             st mikkels sogn sorø amt       1  1860
87115         st rørgensgjerg roskilde amt       1  1860
87109               st mortens randers amt       1  1860
87110            st olai sogn hjørring amt       1  1860
87111          st peders landsogn sorø amt       1  1860
87112   st peders sogn i slagelse sorø amt       1  1860
87113              st peders sogn sorø amt       1  1860
87114      st petri sogn slagelse sorø amt       1  1860
87116                              st sogn       1  1860
87124                   st. ??, odense amt       1  1860
87117                      st taarnby sogn       1  1860
87119                     st thomas husene       1  1860
87120                 st thomas vestindien       1  1860
87121                             st, olai       1  1860
87122                        st, olai sogn       1  1860
87123              st, taarnby, præstø amt       1  1860
206695               ẅẅs. vilstrup . vejle       1  1901

[763927 rows x 3 columns]

In [30]:
#Putting it nicely, on a more horitzontal table
out_list = out_list.pivot(focus_column+'_data', 'year', 'counts').fillna(0).astype(int).reset_index().reset_index(drop=True)
out_list = pd.DataFrame(out_list.values, columns=out_list.columns.tolist()) #Getting rid of the wrong index
out_list['total'] = out_list.apply(lambda row: row['1845']+row['1850']+row['1860']+row['1880']+row['1885']+row['1901'],axis=1)
out_list.sort_values('total', ascending=False, inplace=True)
out_list.total.sum() #Around the 14k first places compule 80% of the people
out_list.head(50)

,fødested_data,1845,1850,1860,1880,1885,1901,total
210785,her i sognet,183452,268241,178218,201757,0,1109,832777
284493,kjøbenhavn,46942,44015,85495,75245,134653,22607,408957
301177,københavn,21034,9335,16230,68462,15581,40997,171639
213010,heri sognet,76384,6697,18038,8171,0,4,109294
372859,odense,8357,6530,9279,13408,3020,22562,63156
254679,i sognet,15795,26408,12990,4689,0,67,59949
21305,aarhus,4063,4594,1710,12183,1859,22638,47047
99205,do [her i sognet],12219,24759,6287,3127,0,37,46429
19587,aalborg,5986,2750,8049,10335,2160,15334,44614
2172,*her i sognet,0,14545,23311,4936,0,7,42799
233107,horsens,3954,2786,5708,8394,1414,12302,34558
208661,helsingør,1190,5830,6776,7832,3040,7490,32158
107439,do.,10,23181,6,5249,0,0,28446
390850,randers,5773,4068,7421,3934,1811,4474,27481
145935,fredericia,3725,2446,5158,4482,939,7853,24603
484394,sverrig,735,1835,4162,7150,4113,5489,23484
450113,slagelse,2840,3038,3777,5453,2164,4539,21811
482930,svendborg,2092,1019,4147,4881,1062,6823,20024
484319,sverige,308,1031,3637,6369,2897,5692,19934
568353,viborg,1024,2511,4029,5193,857,5536,19150
451505,slesvig,292,3264,1767,8097,862,3573,17855
358849,nyborg,2045,2793,3346,3708,980,4744,17616
290513,kolding,814,1032,2931,4547,719,6234,16277
280989,kiøbenhavn,7777,3559,1997,1051,1581,86,16051
146418,frederiksberg,699,262,1076,3465,5975,3027,14504
349770,nakskov,1869,2219,2826,1706,1024,4741,14385
39480,assens,2228,1821,3013,2768,648,3254,13732
508602,thisted,1384,1876,2525,3033,610,3438,12866
5815,??,1887,1194,2530,4908,144,2139,12802
16031,[her i sognet],2692,8,9921,53,0,0,12674
36,-,16,3,57,23,0,12072,12171
403677,roskilde,465,2125,952,2684,1341,4565,12132
410777,rønne,419,801,1035,3258,700,5681,11894
210509,her i s.,3486,1888,5494,6,0,0,10874
224473,hjørring,1000,761,1429,3007,421,4123,10741
293503,korsør,338,1220,1509,3139,724,3583,10513
212407,her i sognet.,9203,352,19,786,0,0,10360
340487,middelfart,1435,1497,1851,2339,329,2520,9971
556274,veile,354,1966,2730,3562,677,466,9755
396777,ribe,1936,588,2824,2714,446,1015,9523
94101,do,0,8775,433,36,0,143,9387
190661,haderslev,679,553,5525,1188,478,732,9155
364338,næstved,401,991,2079,2052,697,2911,9131
410815,rønne købstad - bornholms amt,3003,2747,3122,0,0,0,8872
21521,aarhuus,1675,1432,4402,650,391,174,8724
129579,faaborg,1083,596,1766,2051,597,2499,8592
399757,ringsted,1274,1364,1645,1936,830,1511,8560
226179,holbæk,689,454,989,2818,1104,2504,8558
484276,sverig,38,222,851,2631,1121,3540,8403
552275,varde,312,1181,1731,2045,265,2773,8307

## Basic matches

In [43]:
#Notice that I only match for Sogn
out = out_list.merge(dd[['navn','simplename', 'art', 'enhedid']], left_on=focus_column+'_data', right_on='simplename', how='left')

#Those are the missmatch
miss = out[out.enhedid.isna()]
miss.head()

#Here are the match
match = out[~out.enhedid.isna()]
match.head()

# Aggregating the match by enhedid and year
agg_counts = match.groupby(['navn', 'enhedid', 'art'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

# Grouping all enhedid to see how many different versions of the same Sogne we have in the data
diff_counts = match.groupby(['navn','enhedid'])[focus_column+'_data'].apply(set).reset_index(name='extended_digdag') #if parenthesis is confusing add **.apply(lambda x: ', '.join(x))** before the reset index

# Joining DFs and saving
s = agg_counts.merge(diff_counts, on = ['navn','enhedid'])
s.to_csv(_path+'../out/birthplaces_FT_uniquevalues_01.tsv', sep='\t', index=False)
print(len(s))
s.head()

2054

,navn,enhedid,art,1845,1850,1860,1880,1885,1901,extended_digdag
0,Aabenraa Sogn,113932,sogn,32,16,3667,266,105,133,"{aabenraa, aabenraa sogn}"
1,Aaker Sogn,115247,sogn,0,603,2058,2667,2,280,"{aaker, aakersogn, aaker sogn}"
2,Aal Sogn,115248,sogn,155,33,58,27,0,48,"{aalsogn, aal sogn, aal}"
3,Aarestrup Sogn,115255,sogn,46,0,13,33,1,35,"{aarestrup, aarestrup sogn}"
4,Abild Sogn,113795,sogn,24,1,36,1,3,9,"{abild, abild sogn}"

## Computing Jaro distances for the missmatches

In [ ]:
#Getting the potential first matches

mm = miss[focus_column+'_data'].unique()
sn = dd.simplename.unique() # this uses my extended version of digdag

distance_jaro = np.zeros((len(sn),len(mm)))
distance_leven = np.zeros((len(sn),len(mm)))

for i in range(len(sn)):
    if i%100 == 0: print(i, 'out of' , len(sn))
        
    for j in range(len(mm)): #The internal loop could be done using apply (it should be the longer one)
        #If variable is none skip
        if not mm[j]: continue
        
        #This matrix is not simetric because x and y axis are not the same!
        try:
            distance_jaro[i][j] = distance.get_jaro_distance(sn[i],mm[j])
            distance_leven[i][j] = Levenshtein.distance(sn[i],mm[j])/(len(sn[i])+len(mm[j]))
        except:
            print('Could not make it',i,j)
            print(sn[i],mm[j])
        
#Index is the reference names found in digdag the columns the original data
distance_jaro = pd.DataFrame(data = distance_jaro, columns = mm, index = sn)
distance_leven = pd.DataFrame(data = distance_leven, columns = mm, index = sn)
print(distance_jaro.shape, 'len mm,sn:', len(mm), len(sn)) #(26428, 1237)
distance_jaro.head()

0 out of 26784

## Computing the best match with a minimum threshold

In [ ]:
THRESHOLD = 0.9

#Getting the highest match for each Sogne and filtering threshold
a = distance_jaro.idxmax().reset_index(name = 'potential_match')
b = distance_jaro.max().reset_index(name='jaro')
dfmap = a.merge(b, on='index').rename(columns={'index':'data_name'})
dfmap.to_csv(_path+'../out/mapping_birthplaces.tsv', sep='\t', index=False)
dfmap = dfmap[dfmap.jaro.astype(float) >= THRESHOLD]
dfmap.head()

#Getting the mapped info into DigDag v2 (not really the v2)
dd2 = dfmap.merge(dd[['navn','simplename', 'art', 'enhedid']].sort_values('art', ascending=False).drop_duplicates('simplename', keep='first'), left_on='potential_match', right_on='simplename')
dd2['simplename'] = dd2['data_name']
dd2 = dd2[['navn','enhedid','art','simplename']]
dd2 = pd.concat([dd2[['navn','simplename', 'art', 'enhedid']], dd], sort=False) #putting together
dd2.head()

In [ ]:
# Starting again with the merges
out = out_list.merge(dd2, left_on=focus_column+'_data', right_on='simplename', how='left')

#Those are the missmatch
miss = out[out.enhedid.isna()]
miss.head()

#Here are the match
match = out[~out.enhedid.isna()]
match.head()

# Aggregating the match by enhedid and year
agg_counts = match.groupby(['navn', 'enhedid', 'art'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

# Grouping all enhedid to see how many different versions of the same Sogne we have in the data
diff_counts = match.groupby(['navn','enhedid'])[focus_column+'_data'].apply(set).reset_index(name='extended_digdag') #if parenthesis is confusing add **.apply(lambda x: ', '.join(x))** before the reset index

# Joining DFs and saving
s = agg_counts.merge(diff_counts, on = ['navn','enhedid'])
s.to_csv(_path+'../out/birthplaces_FT_jaro0.9_01.tsv', sep='\t', index=False)
print(len(s))
s.head()

## Getting counts for other possible matches

In [ ]:
# Get the best possible matches

concatenate = []
i=0
for col in distance_jaro.columns:
    i = i+1
    if i % 100 == 0: print(i, 'out of', len(distance_jaro.columns))
    aux = distance_jaro.nlargest(5, col)[[col]]
    aux.columns = ['score']
    aux['original'] = col
    concatenate.append(aux)

concatenate = pd.concat(concatenate, sort=False)
concatenate = concatenate.reset_index()
concatenate.columns = ['potential_match','score','original']
concatenate[['original','potential_match','score']][~concatenate.original.isin(concatenate[(concatenate.score >= THRESHOLD) & ~concatenate.original.isna()].original.unique())].to_csv(_path+'../out/birthplaces_possible_matches_jaro_01.tsv', index=False, sep='\t')

concatenate = pd.read_csv(_path+'../out/birthplaces_possible_matches_jaro_01.tsv',  sep='\t')
concatenate.head(15)

In [ ]:
# Getting the digDag info for the matches but also for the non matches

m = concatenate.merge(dd2[['navn','simplename', 'art', 'enhedid']].sort_values('art', ascending=False).drop_duplicates('simplename',keep='first'), left_on='potential_match', right_on='simplename', how='inner')
m = m[['original','potential_match','score','navn','art','enhedid', 'simplename']]

w = dd2.sort_values('art', ascending=False).drop_duplicates('simplename',keep='first')
w['potential_match'] = w['simplename']
w['original'] = w['simplename']
w['score'] = 1

m = pd.concat([w, m], sort=True)


#Putting the things into place
m['original'] = np.where(m.original.isna(), m['simplename'], m['original'])

print(len(concatenate), len(m))
m.head()

In [ ]:
#Getting the counts for the original plus the counts for the potential matches in DigDag
#Warning: Potential matches may not exist in the data...
out = m.merge(out_list, left_on='original', right_on='Sogne_data', how='left').merge(out_list, left_on='potential_match', right_on=focus_column+'_data', how='left').fillna(0)
for y in ['1845', '1850', '1860', '1880', '1885', '1901']:
    out[y] = out[y+'_x'] + out[y+'_y']
out = out[['original', 'potential_match', 'score', 'navn', 'art', 'enhedid', '1845', '1850', '1860', '1880', '1885', '1901']].sort_values('original')
out.to_csv(_path+'../out/birthplaces_possible_matches_jaro_01.tsv', sep='\t', index=False)