In [1]:
#Importing libraries for data management
import pandas as pd
import numpy as np

#Importing libraries for system management
import os

#Distance computation
from pyjarowinkler import distance
import Levenshtein

In [2]:
#TODO: Check if Danish computers have the same problem...
I_want_to_run_all_the_preprocessing = False

# Converting the current format (ISO-8859-14) into UTF-8 
iconv -f ISO-8859-14 file_in.csv > file_out.tsv

In [3]:

if I_want_to_run_all_the_preprocessing:
    
    #Copying into a new directory
    ! cp -R ../../city_dump/data/LL/ ../../city_dump/data/utf8/

    #Getting all files
    d_path = '../../city_dump/data/utf8/'
    l = next(os.walk(d_path))[2]

    #Converting the files to utf8 (not sure this will work in computers different than mac...)
    for file in l:
        f_path = d_path+file
        tmp_path = d_path+'tmp.csv'
        ! iconv -f ISO-8859-14 $f_path > $tmp_path
        !mv $tmp_path $f_path

# Reading DigDag
and transforming it so I encode as many logical variation of the names as possible. In this way the variations for each place is only appied once whereas if we do the same for the data it will need to be applied to each place taking much longer. But the way to remember the original variation is to keep the "enhedid", which is the reference id.

In [4]:
# This function adds extra rows in the dataframe *dd* for the 
# places where *word* exists and replaces it with *replacement*
def adding_extra_rows(dd, word, replacement):
    dd['special'] = dd['simplename'].apply(lambda x: word in x) 
    dd['simplename2'] = dd.simplename.apply(lambda x: x.replace(word,replacement))
    return pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

In [5]:
#The digdag seems to have duplicates which I do not understand why
dd = pd.read_csv('../../city_dump/data/rl_places_digdag_v1.txt', sep = '\t', encoding='utf-16', dtype=str)
dd_org = dd.copy()

#Getting the Købstad and putting it to the original data
dd2 = pd.read_csv('../../city_dump/data/koebstad.csv', sep = ';', encoding='utf-8', dtype=str)
dd2['enhedtype'] = dd2['art'] 
dd = pd.concat([dd, dd2[~dd2.isna()][['navn','enhedid','enhedtype','art','simplename']]])
dd['simplename'] = dd['simplename'].astype(str)


#Moving the Købstad to the right column
dd['art'] = np.where(dd['enhedtype'] == 'Købstad', ['Købstadskommune']*len(dd), dd['art'])

#adding a conversion of special characters to latin letters (å -> aa, ø -> oe, æ -> ae) and adding them to the reference list
dd = adding_extra_rows(dd, 'å', 'aa')
dd = adding_extra_rows(dd, 'ø', 'oe')
dd = adding_extra_rows(dd, 'æ', 'ae')

#Preparing the names to append them at the simple name
dd['art'] = dd['art'].apply({'Amt':'amt', 'Sogn':'sogn','Købstadskommune':'købstad', 'Geografisk Herred':'herred', 'Processing':''}.get)

#Adding a duplicated list of their unit type to increase matches
dd['simplename2'] = dd.apply(lambda row: str(row['simplename'])+' '+str(row['art']), axis=1)
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Adding the plural købstæder as well
dd = adding_extra_rows(dd, 'købstad', 'købstæder')

#Adding spaces instead of hyphens (new rows)
dd = adding_extra_rows(dd, '-', ' ')

#Removing spaces (new rows)
dd = adding_extra_rows(dd, ' ', '')

#Adding bysogn and landsogn (new rows)
dd = adding_extra_rows(dd, 'sogn', 'bysogn')
dd = adding_extra_rows(dd, 'sogn', 'landsogn')

#adding rows where the last letter's "e" will be removed
dd['special'] = dd['simplename'].str[-1] == 'e'
dd['simplename2'] = dd['simplename'].str[:-1]
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Dropping duplicates from digdag
#print(dd[dd.duplicated('simplename', keep=False)].sort_values('simplename').head(30))
dd.drop_duplicates(['art','simplename'], keep='first', inplace=True)

#Drop 'Non' from the list, this may be one of my artifacts...
dd = dd[(dd.simplename.apply(lambda x: not 'Non' in x))]

# TODO take into consideration that the same city name can be in varios geographical areas...
# It should be matched with herred to increase accuracy for each record. However, right now we're only cleaning
# not sure how pressing the issue is...
nr_sogn = len(dd_org[dd_org.art=='Sogn'].simplename.unique()) 
dd.head(20)

#TODO: Right now I can map things to amt for example which should not be the case...
#dd =dd[dd.art='sogn']

                     navn enhedid enhedtype  art     simplename
0            Kronborg Amt  118765        11  amt       kronborg
1              Præstø Amt  118791        11  amt         præstø
2           Bornholms Amt  118792        11  amt      bornholms
3           Svendborg Amt  118813        11  amt      svendborg
4              Ålborg Amt  118819        11  amt         ålborg
5                Sorø Amt  118785        11  amt           sorø
6               Århus Amt  118846        11  amt          århus
7            Hjørring Amt  118820        11  amt       hjørring
8             Bøvling Amt  118851        11  amt        bøvling
9               Vejle Amt  118849        11  amt          vejle
10            Dueholm Amt  118821        11  amt        dueholm
11               Ørum Amt  118824        11  amt           ørum
12            Thisted Amt  118826        11  amt        thisted
13             Viborg Amt  118830        11  amt         viborg
14         Ringkøbing Amt  118853        11  amt     ringkøbing
15     Københavns Kommune  370923        11  amt     københavns
16  Frederiksberg Kommune  370924        11  amt  frederiksberg
17               Fyns Amt  118739        11  amt           fyns
18           Sæbygård Amt  118773        11  amt       sæbygård
19               Ribe Amt  118855        11  amt           ribe

In [6]:
print('length original:\t', len(dd_org), '\nlength modified:\t', len(dd), '\nunique sogn keys:\t', nr_sogn)

length original:	 2519
length modified:	 27097
unique sogn keys:	 1924

# Processing functions

In [7]:
#Get the df from the $ separated file (for some reason pandas has problems with random lines)
def get_df(f_path):
    r= []
    columns = []
    with open(f_path) as f:
        first = True
        for line in f:
            line = line.rstrip().split('$')
            if first:
                length = len(line)
                columns = line
                first=False
            else:
                r.append(line[:length])
                
    return pd.DataFrame(data=r, columns = columns)

In [8]:
# Name cleaning function
def name_cleaner(s):
    try:
        o =s[working_column].lower().rstrip().replace('  ', ' ')#.replace(' købstad', '')
        if ' (' in o: return o.split(' (')[0]
        return o
    except:
        return np.nan

# Grouping all 1901 files together

In [9]:
if I_want_to_run_all_the_preprocessing:
    
    l =['ft1901_LL_aalborg.txt',
     'ft1901_LL_aarhus.txt',
     'ft1901_LL_bornholm.txt',
     'ft1901_LL_frederiksborg.txt',
     'ft1901_LL_hjoerring.txt',
     'ft1901_LL_holbaek.txt',
     'ft1901_LL_kbhv.txt',
     'ft1901_LL_maribo.txt',
     'ft1901_LL_odense.txt',
     'ft1901_LL_praestoe.txt',
     'ft1901_LL_randers.txt',
     'ft1901_LL_ribe.txt',
     'ft1901_LL_ringkoebing.txt',
     'ft1901_LL_roskilde.txt',
     'ft1901_LL_skanderborg.txt',
     'ft1901_LL_soroe.txt',
     'ft1901_LL_svendborg.txt',
     'ft1901_LL_thisted.txt',
     'ft1901_LL_vejle.txt',
     'ft1901_LL_viborg.txt']

    _path = '../../city_dump/data/utf8/'

    df_list = []
    for f in l:

        print(f)
        #Loading the data
        df_list.append(get_df(_path+f))

    #Concatenating all the files
    df_list = pd.concat(df_list, sort=False)

    #Saving the unique file
    df_list.to_csv(_path+'ft1901_LL.txt', sep='$', index=False)

In [10]:
# List of files to work (with the 1901 collapsed)
working_data = ['ft1845_LL.txt',
 'ft1850_LL.txt',
 'ft1860_LL.txt',
 'ft1880_LL.txt',
 'ft1885_LL.txt',
 'ft1901_LL.txt']

# Basic matching
(only performs the match if the names are identical)

_This could be done only once by countring reference id and year. Then with the names we can keep constraining with matches_

In [11]:
_path = '../../city_dump/data/utf8/'

#This is where I save the counts and then group it together
out_list = []

#where I save the missmatches and file year
missmatches = []
total_records = 0

for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing (ask Barbara to provide me the UTF-8...)
    df = df[~df.Herred.isna()]
    print(len(df))
    total_records = total_records + len(df)
    
    #Preforming the name cleaning for Sogne, Herred, and Amt
    for working_column in ['Sogne','Herred','Amt']:
        df[working_column] = df.apply(lambda x: name_cleaner(x), axis=1)

    # Focusing on Sogn that match the Sogn list in DigDag
    out = df.merge(dd[dd.art=='sogn'][['simplename', 'art', 'enhedid']], left_on='Sogne', right_on='simplename', how='left')

    #keeping the missmatch
    miss = out[out.art.isna()].drop_duplicates('Sogne', keep='first')
    miss['year'] = f[2:6]
    missmatches.append(miss)
    
    #Counting the matches
    out = out[~out.art.isna()].groupby('enhedid').size().reset_index(name='counts')
    
    # setting the year
    out['year'] = f[2:6]
    
    #Keeping the counts on RAM
    out_list.append(out)
    

#Concatenating all the files (the counts and missmatches)
out_list = pd.concat(out_list, sort=False)
missmatches = pd.concat(missmatches, sort=False)

#Saving the unique file in the HD
out_list = out_list.merge(dd_org, on ='enhedid').pivot('enhedid', 'year', 'counts').fillna(0).astype(int)
out_list.to_csv(_path+'../out/counts.txt', sep='$')
out_list.to_csv(_path+'../out/places_FT_uniquevalues_01.tsv', sep='\t')

print('Done :D')

nr_matched_records = out_list.sum().sum() #Two times sum, first one for year, and second one among years
print('Matched records:',nr_matched_records, 'out of', total_records, '(', nr_matched_records/total_records*100,')%')
print('Matched places:', len(out_list), 'out of', nr_sogn, '(', len(out_list)/nr_sogn*100,')%')

ft1845_LL.txt
1489875
ft1850_LL.txt
1391708
ft1860_LL.txt
1715906
ft1880_LL.txt
1967615
ft1885_LL.txt
327936
ft1901_LL.txt
1979025
Done :D
Matched records: 6256417 out of 8872065 ( 70.51816009012558 )%
Matched places: 1577 out of 1924 ( 81.96465696465697 )%

In [12]:
#Cities that could not be matched on the first round counts per year
missmatches.groupby('year').size().reset_index(name='counts').sort_values('counts', ascending=False)

   year  counts
5  1901     592
4  1885     556
3  1880     553
0  1845     238
2  1860     159
1  1850     155

# Computing city similarity for all missmatches

In [13]:
#Getting the potential first matches

mm = missmatches.Sogne.unique()
sn = dd.simplename.unique() #Another possibility wowuld be to match it to the original (shorter)

distance_jaro = np.zeros((len(sn),len(mm)))
distance_leven = np.zeros((len(sn),len(mm)))

for i in range(len(sn)):
    if i%100 == 0: print(i, 'out of' , len(sn))
        
    for j in range(len(mm)): #The internal loop could be done using apply (it should be the longer one)
        #If variable is none skip
        if not mm[j]: continue
        
        #This matrix is not simetric because x and y axis are not the same!
        try:
            distance_jaro[i][j] = distance.get_jaro_distance(sn[i],mm[j])
            distance_leven[i][j] = Levenshtein.distance(sn[i],mm[j])/(len(sn[i])+len(mm[j]))
        except:
            print('Could not make it',i,j)
            print(sn[i],mm[j])
        
#Index is the reference names found in the data, columns to the digdag
distance_jaro = pd.DataFrame(data = distance_jaro, columns = mm, index = sn)
distance_leven = pd.DataFrame(data = distance_leven, columns = mm, index = sn)
print(distance_jaro.shape) #(26428, 1237)
distance_jaro.head()

0 out of 26784
100 out of 26784
200 out of 26784
300 out of 26784
400 out of 26784
500 out of 26784
600 out of 26784
700 out of 26784
800 out of 26784
900 out of 26784
1000 out of 26784
1100 out of 26784
1200 out of 26784
1300 out of 26784
1400 out of 26784
1500 out of 26784
1600 out of 26784
1700 out of 26784
1800 out of 26784
1900 out of 26784
2000 out of 26784
2100 out of 26784
2200 out of 26784
2300 out of 26784
2400 out of 26784
2500 out of 26784
2600 out of 26784
2700 out of 26784
2800 out of 26784
2900 out of 26784
3000 out of 26784
3100 out of 26784
3200 out of 26784
3300 out of 26784
3400 out of 26784
3500 out of 26784
3600 out of 26784
3700 out of 26784
3800 out of 26784
3900 out of 26784
4000 out of 26784
4100 out of 26784
4200 out of 26784
4300 out of 26784
4400 out of 26784
4500 out of 26784
4600 out of 26784
4700 out of 26784
4800 out of 26784
4900 out of 26784
5000 out of 26784
5100 out of 26784
5200 out of 26784
5300 out of 26784
5400 out of 26784
5500 out of 26784
5600 out of 26784
5700 out of 26784
5800 out of 26784
5900 out of 26784
6000 out of 26784
6100 out of 26784
6200 out of 26784
6300 out of 26784
6400 out of 26784
6500 out of 26784
6600 out of 26784
6700 out of 26784
6800 out of 26784
6900 out of 26784
7000 out of 26784
7100 out of 26784
7200 out of 26784
7300 out of 26784
7400 out of 26784
7500 out of 26784
7600 out of 26784
7700 out of 26784
7800 out of 26784
7900 out of 26784
8000 out of 26784
8100 out of 26784
8200 out of 26784
8300 out of 26784
8400 out of 26784
8500 out of 26784
8600 out of 26784
8700 out of 26784
8800 out of 26784
8900 out of 26784
9000 out of 26784
9100 out of 26784
9200 out of 26784
9300 out of 26784
9400 out of 26784
9500 out of 26784
9600 out of 26784
9700 out of 26784
9800 out of 26784
9900 out of 26784
10000 out of 26784
10100 out of 26784
10200 out of 26784
10300 out of 26784
10400 out of 26784
10500 out of 26784
10600 out of 26784
10700 out of 26784
10800 out of 26784
10900 out of 26784
11000 out of 26784
11100 out of 26784
11200 out of 26784
11300 out of 26784
11400 out of 26784
11500 out of 26784
11600 out of 26784
11700 out of 26784
11800 out of 26784
11900 out of 26784
12000 out of 26784
12100 out of 26784
12200 out of 26784
12300 out of 26784
12400 out of 26784
12500 out of 26784
12600 out of 26784
12700 out of 26784
12800 out of 26784
12900 out of 26784
13000 out of 26784
13100 out of 26784
13200 out of 26784
13300 out of 26784
13400 out of 26784
13500 out of 26784
13600 out of 26784
13700 out of 26784
13800 out of 26784
13900 out of 26784
14000 out of 26784
14100 out of 26784
14200 out of 26784
14300 out of 26784
14400 out of 26784
14500 out of 26784
14600 out of 26784
14700 out of 26784
14800 out of 26784
14900 out of 26784
15000 out of 26784
15100 out of 26784
15200 out of 26784
15300 out of 26784
15400 out of 26784
15500 out of 26784
15600 out of 26784
15700 out of 26784
15800 out of 26784
15900 out of 26784
16000 out of 26784
16100 out of 26784
16200 out of 26784
16300 out of 26784
16400 out of 26784
16500 out of 26784
16600 out of 26784
16700 out of 26784
16800 out of 26784
16900 out of 26784
17000 out of 26784
17100 out of 26784
17200 out of 26784
17300 out of 26784
17400 out of 26784
17500 out of 26784
17600 out of 26784
17700 out of 26784
17800 out of 26784
17900 out of 26784
18000 out of 26784
18100 out of 26784
18200 out of 26784
18300 out of 26784
18400 out of 26784
18500 out of 26784
18600 out of 26784
18700 out of 26784
18800 out of 26784
18900 out of 26784
19000 out of 26784
19100 out of 26784
19200 out of 26784
19300 out of 26784
19400 out of 26784
19500 out of 26784
19600 out of 26784
19700 out of 26784
19800 out of 26784
19900 out of 26784
20000 out of 26784
20100 out of 26784
20200 out of 26784
20300 out of 26784
20400 out of 26784
20500 out of 26784
20600 out of 26784
20700 out of 26784
20800 out of 26784
20900 out of 26784
21000 out of 26784
21100 out of 26784
21200 out of 26784
21300 out of 26784
21400 out of 26784
21500 out of 26784
21600 out of 26784
21700 out of 26784
21800 out of 26784
21900 out of 26784
22000 out of 26784
22100 out of 26784
22200 out of 26784
22300 out of 26784
22400 out of 26784
22500 out of 26784
22600 out of 26784
22700 out of 26784
22800 out of 26784
22900 out of 26784
23000 out of 26784
23100 out of 26784
23200 out of 26784
23300 out of 26784
23400 out of 26784
23500 out of 26784
23600 out of 26784
23700 out of 26784
23800 out of 26784
23900 out of 26784
24000 out of 26784
24100 out of 26784
24200 out of 26784
24300 out of 26784
24400 out of 26784
24500 out of 26784
24600 out of 26784
24700 out of 26784
24800 out of 26784
24900 out of 26784
25000 out of 26784
25100 out of 26784
25200 out of 26784
25300 out of 26784
25400 out of 26784
25500 out of 26784
25600 out of 26784
25700 out of 26784
25800 out of 26784
25900 out of 26784
26000 out of 26784
26100 out of 26784
26200 out of 26784
26300 out of 26784
26400 out of 26784
26500 out of 26784
26600 out of 26784
26700 out of 26784
(26784, 1237)

,nørre bramdrup,nørresundby landsogn,slagelse købstad,stillinge,allinge-sandvig købstæder,rønne købstad,aakirkeby købstad,hasle købstad,svaneke købstad,neksø købstad,...,bernhardsvej,baunegaardsvej,bengtasvej,bogholder alle,boyesgade,broagergade,birkegade,rugaards landevej,esbjerg købstad,silkeborg købstad
kronborg,0.43,0.40,0.40,0.49,0.44,0.54,0.52,0.40,0.40,0.42,...,0.53,0.43,0.45,0.51,0.46,0.56,0.56,0.46,0.41,0.57
præstø,0.41,0.48,0.41,0.52,0.00,0.50,0.41,0.50,0.41,0.50,...,0.42,0.00,0.34,0.00,0.43,0.42,0.43,0.41,0.41,0.41
bornholms,0.40,0.38,0.45,0.31,0.37,0.52,0.39,0.52,0.45,0.46,...,0.69,0.56,0.59,0.71,0.64,0.48,0.53,0.39,0.51,0.28
svendborg,0.41,0.47,0.50,0.60,0.37,0.41,0.39,0.52,0.59,0.50,...,0.51,0.41,0.47,0.40,0.46,0.44,0.44,0.28,0.56,0.71
ålborg,0.41,0.41,0.49,0.52,0.47,0.00,0.41,0.41,0.00,0.00,...,0.50,0.49,0.51,0.57,0.61,0.59,0.61,0.32,0.57,0.71

In [14]:
dd_org[dd_org.simplename == 'stilling'] #Stilling in dd_org!!

               navn enhedid enhedtype   art simplename
1515  Stilling Sogn  114713        76  Sogn   stilling

In [15]:
'stilling' in distance_jaro.index

True

In [16]:
#Saving the best possible match (left=name found in the data, right=name found in the extended version of digdag)
a = distance_jaro.idxmax().reset_index(name = 'potential_match')
b = distance_jaro.max().reset_index(name='jaro')
c = a.merge(b, on='index').rename(columns={'index':'data_name'})
c.to_csv(_path+'../out/mapping.tsv', sep='\t')
c.head()

                   data_name            potential_match  jaro
0             nørre bramdrup            nørre asmindrup  0.90
1       nørresundby landsogn       nørresnedebylandsogn  0.96
2           slagelse købstad           slagelse købstad  1.00
3                  stillinge                   stilling  0.98
4  allinge-sandvig købstæder  allinge-sandvig købstæder  1.00

# Advanced matching
(This is the same as the basic matching but in this case it matches to the computed best match)

In [17]:
#Select threshold to perform the matching, each mapping contains only the best jaro
THRESHOLD = 0.9

dfmap = pd.read_csv(_path+'../out/mapping.tsv', sep = '\t', dtype=str, names=['original','mapped', 'score'], skiprows=1)
dfmap = dfmap[dfmap.score.astype(float) >= THRESHOLD][['original','mapped']]
dfmap.head()

                    original                     mapped
0             nørre bramdrup            nørre asmindrup
1       nørresundby landsogn       nørresnedebylandsogn
2           slagelse købstad           slagelse købstad
3                  stillinge                   stilling
4  allinge-sandvig købstæder  allinge-sandvig købstæder

In [18]:
_path = '../../city_dump/data/utf8/'

#This is where I save the counts and then group it together
out_list = []


for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing
    df = df[~df.Herred.isna()]
    print(len(df))
    
    #Preforming the name cleaning for Sogne, Herred, and Amt
    for working_column in ['Sogne','Herred','Amt']:
        df[working_column] = df.apply(lambda x: name_cleaner(x), axis=1)
    
    #Performing the matching for "inexisting places"
    df = df.merge(dfmap, left_on='Sogne', right_on='original', how='left')
    df.loc[~df.mapped.isna(), 'Sogne'] = df.loc[~df.mapped.isna(), 'mapped']


    # Focusing on Sogn that match the Sogn list in DigDag
    out = df.merge(dd[dd.art=='sogn'][['simplename', 'art','enhedid']], left_on='Sogne', right_on='simplename', how='left')
    
    #Counting the matches
    out = out[~out.art.isna()].groupby('enhedid').size().reset_index(name='counts')
    
    # setting the year
    out['year'] = f[2:6]
    
    #Keeping the counts on RAM
    out_list.append(out)

    
#Concatenating all the files (the counts and missmatches)
out_list = pd.concat(out_list, sort=False)


#Saving the unique file in the HD
out_list = out_list.merge(dd_org, on ='enhedid').pivot('simplename', 'year', 'counts').fillna(0).astype(int)
out_list.to_csv(_path+'../out/counts_first_jaro.txt', sep='$')
out_list.to_csv(_path+'../out/places_FT_jaro0.9_01.tsv', sep='\t')


print('Done :D')

nr_matched_records = out_list.sum().sum() #Two times sum, first one for year, and second one among years
print('Matched records:',nr_matched_records, 'out of', total_records, '(', nr_matched_records/total_records*100,')%')
print('Matched places:', len(out_list), 'out of', nr_sogn, '(', len(out_list)/nr_sogn*100,')%')

ft1845_LL.txt
1489875
ft1850_LL.txt
1391708
ft1860_LL.txt
1715906
ft1880_LL.txt
1967615
ft1885_LL.txt
327936
ft1901_LL.txt
1979025
Done :D
Matched records: 6674325 out of 8872065 ( 75.22854036799775 )%
Matched places: 1647 out of 1924 ( 85.6029106029106 )%

In [19]:
#Adding few more requested variables
dfmap = pd.read_csv(_path+'../out/mapping.tsv', sep = '\t', dtype=str, names=['original','mapped', 'score'], skiprows=1)
jaro09 = pd.read_csv(_path+'../out/places_FT_jaro0.9_01.tsv', sep='\t')
jaro09 = jaro09.merge(dfmap[dfmap.score.astype(float) >= THRESHOLD], left_on='simplename', right_on='mapped').merge(dd[['simplename', 'art', 'enhedid']], on='simplename')
jaro09.to_csv(_path+'../out/places_FT_jaro0.9_01.tsv', sep='\t')
jaro09.head()

,simplename,1845,1850,1860,1880,1885,1901,original,mapped,score,art,enhedid
0,absalons,0,0,0,4022,4065,4477,absalonsgade,absalons,0.93,sogn,113935
1,aggersborg,516,513,580,752,0,1222,aggersborggade,aggersborg,0.94,sogn,113943
2,allerslev,1784,1881,1992,2444,475,2249,allersgade,allerslev,0.9,sogn,113953
3,anna,0,0,0,0,0,127,annasvej,anna,0.9,sogn,113974
4,astrup,2667,2132,3071,2903,0,2947,magstrup,astrup,0.92,sogn,113997

In [20]:
# Finding the best possible matches

concatenate = []
i=0
for col in distance_jaro.columns:
    i = i+1
    if i % 100 == 0: print(i, 'out of', len(distance_jaro.columns))
    aux = distance_jaro.nlargest(5, col)[[col]]
    aux.columns = ['score']
    aux['original'] = col
    concatenate.append(aux)

concatenate = pd.concat(concatenate, sort=False)
concatenate = concatenate.reset_index()
concatenate.columns = ['potential_match','score','original']
concatenate[['original','potential_match','score']][~concatenate.original.isin(concatenate[concatenate.score >= 0.9].original.unique())].to_csv(_path+'../out/places_possible_matches_jaro_01.tsv', index=False, sep='\t')

concatenate = pd.read_csv(_path+'../out/places_possible_matches_jaro_01.tsv',  sep='\t')
concatenate.head(15)

100 out of 1237
200 out of 1237
300 out of 1237
400 out of 1237
500 out of 1237
600 out of 1237
700 out of 1237
800 out of 1237
900 out of 1237
1000 out of 1237
1100 out of 1237
1200 out of 1237

                   original       potential_match  score
0                 hofetaten                hoejen   0.84
1                 hofetaten                    ho   0.79
2                 hofetaten               soeften   0.79
3                 hofetaten              hoersted   0.78
4                 hofetaten          hoerstedsogn   0.78
5   ude sundby landdistrikt    udbyneder landsogn   0.77
6   ude sundby landdistrikt     udbynederlandsogn   0.75
7   ude sundby landdistrikt  understed bylandsogn   0.75
8   ude sundby landdistrikt  udbyneder bylandsogn   0.75
9   ude sundby landdistrikt     sædden bylandsogn   0.73
10                   kyholm                  holm   0.89
11                   kyholm                 holme   0.82
12                   kyholm              skivholm   0.82
13                   kyholm             skivholme   0.80
14                   kyholm                  kolt   0.78

# Getting the counts for all possible matches (reading only once)

In [21]:
_path = '../../city_dump/data/utf8/'

#This is where I save the counts and then group it together
out_list = []


for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing
    df = df[~df.Herred.isna()]
    print(len(df))
    
    #Preforming the name cleaning for Sogne, Herred, and Amt
    for working_column in ['Sogne','Herred','Amt']:
        df[working_column] = df.apply(lambda x: name_cleaner(x), axis=1)
    
    df['year'] = f[2:6]
    
    #TODO: Do the counting inside so it removes overhead
    
    #Keeping the counts on RAM
    out_list.append(df)

    
#Concatenating all the files (the counts and missmatches)
df = pd.concat(out_list, sort=False)
df.head()

ft1845_LL.txt
1489875
ft1850_LL.txt
1391708
ft1860_LL.txt
1715906
ft1880_LL.txt
1967615
ft1885_LL.txt
327936
ft1901_LL.txt
1979025

,Sogne,Herred,Amt,postid,kipnr,kilde,løbenr,kildehenvisning,stednavn,husstands_familienr,...,gadenr,etage,forhus,skemanr,skema_lbnr,kildekommentar,ejendom_navn,ejernavn,bo_andetsteds,tilstede
0,harte,brusk,vejle,1,A0003,FT-1845,"1,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,harte,brusk,vejle,2,A0003,FT-1845,"2,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,harte,brusk,vejle,3,A0003,FT-1845,"3,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,harte,brusk,vejle,4,A0003,FT-1845,"4,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,harte,brusk,vejle,5,A0003,FT-1845,"5,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#Read everything and now do the counting outside (not the best... would be better to count inside the loop)
dfc = df.groupby(['Sogne','year']).size().reset_index(name='counts')
dfc.head()

                  Sogne  year  counts
0                        1845       1
1  (h. c.) andersensvej  1880     744
2       a. f. beyersvej  1901      78
3    a. n. hansens allé  1901      10
4              aabenraa  1880    1404

In [23]:
THRESHOLD = 0.9

#One row per city
a = dfc.rename(columns={'year':'id'}).pivot(index='Sogne', columns='id', values='counts').reset_index().fillna(0).astype(int, errors='ignore')

#Performing the matching for mapped places
dfmap = pd.read_csv(_path+'../out/mapping.tsv', sep = '\t', dtype=str, names=['original','mapped', 'score'], skiprows=1)
dfmap =  dfmap[dfmap.score.astype(float) >= THRESHOLD]

df = a.merge(dfmap, left_on='Sogne', right_on='original', how='left')
df.loc[~df.mapped.isna(), 'Sogne'] = df.loc[~df.mapped.isna(), 'mapped']

# Focusing on Sogn that match the Sogn list in DigDag
df = df.merge(dd[dd.art=='sogn'][['simplename', 'art','enhedid']], left_on='Sogne', right_on='simplename', how='left')
df.loc[df.simplename.isna() & ~df.mapped.isna(), 'simplename'] = df.loc[df.simplename.isna() & ~df.mapped.isna(), 'mapped']
df.loc[~df.simplename.isna(), 'Sogne'] = df.loc[~df.simplename.isna(), 'simplename']

df.head(20)

,Sogne,1845,1850,1860,1880,1885,1901,original,mapped,score,simplename,art,enhedid
0,,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,(h. c.) andersensvej,0,0,0,744,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,a. f. beyersvej,0,0,0,0,0,78,NaN,NaN,NaN,NaN,NaN,NaN
3,a. n. hansens allé,0,0,0,0,0,10,NaN,NaN,NaN,NaN,NaN,NaN
4,aabenraa,0,0,0,1404,1314,1044,NaN,NaN,NaN,aabenraa,sogn,113932
5,aabenraa købstad,0,0,5139,0,0,0,aabenraa købstad,aabenraa købstad,1.0,aabenraa købstad,NaN,NaN
6,aabenraa landsogn,444,0,650,0,0,0,NaN,NaN,NaN,aabenraa landsogn,sogn,113932
7,aaby,1520,1593,2008,2606,0,3075,NaN,NaN,NaN,aaby,sogn,115242
8,aadum,554,603,712,979,0,1031,NaN,NaN,NaN,NaN,NaN,NaN
9,aagade,0,0,0,915,1058,1034,NaN,NaN,NaN,NaN,NaN,NaN
10,aageby,0,0,0,277,0,0,NaN,NaN,NaN,aageby,sogn,115244
11,aagerup,1046,1078,1278,1422,0,1278,NaN,NaN,NaN,aagerup,sogn,115246
12,aaker,1864,1956,1978,2485,0,2421,NaN,NaN,NaN,aaker,sogn,115247
13,aakirkeby købstad,553,561,613,852,0,1183,aakirkeby købstad,aakirkeby købstad,1.0,aakirkeby købstad,NaN,NaN
14,aal,917,972,962,1097,0,1299,NaN,NaN,NaN,aal,sogn,115248
15,faaborg landsogn,142,142,134,143,0,114,aalborg frue landsogn,faaborg landsogn,0.9,faaborg landsogn,sogn,113312
16,aalborg købstad,7478,7773,10077,14292,0,30976,aalborg købstad,aalborg købstad,1.0,aalborg købstad,NaN,NaN
17,aalborg,0,0,0,0,0,1334,aalborggade,aalborg,0.93,aalborg,NaN,NaN
18,aale,454,488,597,0,0,734,NaN,NaN,NaN,aale,sogn,115249
19,aalekistevej,0,0,0,0,0,214,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df = df.groupby(['Sogne'],as_index = False).agg({'1845':'sum', '1850':'sum','1860':'sum', '1880':'sum','1885':'sum', '1901':'sum'})

                           Sogne  1845  1850   1860   1880  1885   1901
0                                    1     0      0      0     0      0
1           (h. c.) andersensvej     0     0      0    744     0      0
2                a. f. beyersvej     0     0      0      0     0     78
3             a. n. hansens allé     0     0      0      0     0     10
4                       aabenraa     0     0      0   1404  1314   1044
5               aabenraa købstad     0     0   5139      0     0      0
6              aabenraa landsogn   444     0    650      0     0      0
7                           aaby  2803  3002   3418   3992     0   4213
8                          aadum   554   603    712    979     0   1031
9                         aagade     0     0      0    915  1058   1034
10                        aageby     0     0      0    277     0      0
11                       aagerup  1046  1078   1278   1422     0   1278
12                         aaker  1864  1956   1978   2485     0   2421
13             aakirkeby købstad   553   561    613    852     0   1183
14                           aal   917   972    962   1097     0   1299
15                       aalborg     0     0      0      0     0   1334
16               aalborg købstad  7478  7773  10077  14292     0  30976
17                          aale   454   488    597      0     0    734
18                  aalekistevej     0     0      0      0     0    214
19                         aalsø   829   858   1093   1308     0   1200
20                         aalum   599   611    680    788     0    634
21                         aarby  1181  1272   1402   1425     0   1345
22                     aarestrup   468   523    611    773     0    844
23                       aarhus      0     0      0      0     0    337
24    aarhus havn skibe i havnen     0     0      0      0     0     46
25                aarhus købstad  7886  7883  10984  24998     0      0
26                   aarhusgaard     0     0      0      0     0   1628
27                         aarre   349   379    439    573     0    606
28                          aars   507   542    507    782     0   1381
29                       aarslev   793   782    844    958     0    952
...                          ...   ...   ...    ...    ...   ...    ...
2666                 øster egede   291   304    362    452     0    368
2667              øster egesborg  1153  1219   1313   1382     0   1218
2668          øster farimagsgade     0     0      0   1704  2990      0
2669               øster hassing   953   958   1059   1271     0   1335
2670                øster hornum   570   571    669    873     0   1111
2671               øster hæsinge   573   600    608    563     0    503
2672                 øster jølby   135   141    165    263     0    319
2673                øster lindet    53     0    934      0     0      0
2674                 øster løgum  1340     0   1577      0     0      0
2675               øster nykirke  1021  1216   1342   1525     0   1299
2676             øster skerninge   477   480    467    578     0    522
2677                  øster sned     0     0      0      0   871      0
2678                 øster snede  1278  1382   1668   1661     0   1721
2679                øster starup  1233  1311   1465   1512     0   1548
2680             øster svenstrup   341   327    410    582     0    670
2681               øster tørslev   870   882    969   1067     0   1143
2682                øster ulslev   514   565    615    658    52    665
2683                øster vandet   205   180    205    261     0    207
2684               øster velling   226   232    272    383     0    396
2685                østerbrogade     0     0      0   3643  3858      0
2686                  østerbølle   288   317    354    506     0   1078
2687                   østereged     0     0      0    933  1313    511
2688                    østerild   648   672    636    748     0    701
2689                østerlarsker  9151  9588   9590   1505     0   1537
2690                  østermarie  1903  1914   1975   2312     0   2367
2691                   østersned     0     0      0    344     0      0
2692                   østervold     0     0      0    912   500      0
2693                     østofte  2052  2237   2444   1286     0   1338
2694              østre møllesti     0     0      0      0     0    371
2695                      østrup   462   503    530    563     0    558

[2696 rows x 7 columns]

In [60]:
z = concatenate.merge(df, left_on='original', right_on='Sogne').merge(dd, left_on='potential_match', right_on='simplename').merge(df, left_on='enhedid_y', right_on='enhedid')
for y in ['1845', '1850', '1860', '1880', '1885', '1901']:
    z[y] = z[y+'_x'] + z[y+'_y']
    
z['original'] = z['original_x']
z['score'] = z['score_x']
z = z[['original','potential_match', 'score', '1845', '1850', '1860', '1880', '1885', '1901', 'navn', 'art', 'enhedid']]

z.to_csv(_path+'../out/places_possible_matches_jaro_01.tsv', sep='\t')

In [61]:
z

,original,potential_match,score,1845,1850,1860,1880,1885,1901,navn,art,enhedid
0,hofetaten,hoejen,0.84,1516,829,950,909,0,764,Højen Sogn,sogn,113648
1,højdevej,højen,0.84,816,829,950,909,42,808,Højen Sogn,sogn,113648
2,høyensgade,højensogn,0.80,816,829,950,909,138,764,Højen Sogn,sogn,113648
3,hofetaten,ho,0.79,996,286,303,311,0,326,Ho Sogn,sogn,113563
4,hospitalsvej,ho,0.78,296,286,303,311,49,326,Ho Sogn,sogn,113563
5,hofetaten,soeften,0.79,1230,535,593,506,0,559,Søften Sogn,sogn,114779
6,søetaten,soeften,0.80,8829,535,593,506,0,559,Søften Sogn,sogn,114779
7,sofievej,soeften,0.77,530,535,593,801,796,559,Søften Sogn,sogn,114779
8,søetaten,søften,0.80,8829,535,593,506,0,559,Søften Sogn,sogn,114779
9,søfortet lynetten,søften,0.80,530,535,593,514,0,559,Søften Sogn,sogn,114779
10,søfortet prøvesten,søften,0.79,530,535,593,539,0,559,Søften Sogn,sogn,114779
11,søfortet lynetten,søften bysogn,0.79,530,535,593,514,0,559,Søften Sogn,sogn,114779
12,søfortet prøvesten,søften bysogn,0.78,530,535,593,539,0,559,Søften Sogn,sogn,114779
13,søfortet lynetten,søftenbysogn,0.78,530,535,593,514,0,559,Søften Sogn,sogn,114779
14,søfortet lynetten,søften bylandsogn,0.78,530,535,593,514,0,559,Søften Sogn,sogn,114779
15,søfortet lynetten,søften landsogn,0.77,530,535,593,514,0,559,Søften Sogn,sogn,114779
16,søfortet prøvesten,søften landsogn,0.76,530,535,593,539,0,559,Søften Sogn,sogn,114779
17,hofetaten,hoersted,0.78,896,200,216,212,0,195,Hørsted Sogn,sogn,113660
18,h. c. ørsteds vej,hoersted,0.73,196,200,216,1438,1468,195,Hørsted Sogn,sogn,113660
19,hofetaten,hoerstedsogn,0.78,896,200,216,212,0,195,Hørsted Sogn,sogn,113660
20,h. c. ørsteds vej,hørstedsogn,0.76,196,200,216,1438,1468,195,Hørsted Sogn,sogn,113660
21,h. c. ørsteds vej,hørstedbysogn,0.73,196,200,216,1438,1468,195,Hørsted Sogn,sogn,113660
22,ude sundby landdistrikt,udbyneder landsogn,0.77,1418,1509,1769,1427,0,1670,Udbyneder Sogn,sogn,114952
23,ude sundby landdistrikt,udbynederlandsogn,0.75,1418,1509,1769,1427,0,1670,Udbyneder Sogn,sogn,114952
24,ude sundby landdistrikt,udbyneder bylandsogn,0.75,1418,1509,1769,1427,0,1670,Udbyneder Sogn,sogn,114952
25,udenbys klædebo kvarter,udbyneder bysogn,0.72,4677,5805,17838,1280,0,1524,Udbyneder Sogn,sogn,114952
26,ude sundby landdistrikt,understed bylandsogn,0.75,1153,1231,1351,827,0,899,Understed Sogn,sogn,114970
27,kyholm,holm,0.89,717,784,855,885,0,1133,Holme Sogn,sogn,113571
28,kyholm,holme,0.82,717,784,855,885,0,1133,Holme Sogn,sogn,113571
29,holger danskes vej,holme,0.77,644,722,855,885,53,1133,Holme Sogn,sogn,113571
...,...,...,...,...,...,...,...,...,...,...,...,...
4138,torben oxes alle,torslev sogn,0.78,2091,2237,2774,3207,0,3622,Torslev Sogn,sogn,114882
4139,ved vestre kirkegaard,vesternykirk,0.79,417,453,447,587,0,554,Vester Nykirke Sogn,sogn,115053
4140,ved vestre kirkegaard,vester nykirk,0.78,417,453,447,587,0,554,Vester Nykirke Sogn,sogn,115053
4141,ved vestre kirkegaard,vester velling,0.77,399,453,568,591,0,610,Vester Velling Sogn,sogn,115061
4142,vibevej,vrejlev,0.77,1635,1794,2179,2545,0,2568,Vrejlev Sogn,sogn,115156
4143,ydunsgade,yding,0.80,434,474,516,558,0,584,Yding Sogn,sogn,115172
4144,ydunsgade,ydinglandsogn,0.77,434,474,516,558,0,584,Yding Sogn,sogn,115172
4145,ydunsgade,yding landsogn,0.76,434,474,516,558,0,584,Yding Sogn,sogn,115172
4146,ydunsgade,ydingbylandsogn,0.75,434,474,516,558,0,584,Yding Sogn,sogn,115172
4147,ydunsgade,yding bylandsogn,0.74,434,474,516,558,0,584,Yding Sogn,sogn,115172
4148,søren nordbys alle,sønder draaby sogn,0.81,280,288,308,424,0,503,Sønder Dråby Sogn,sogn,114792
4149,ahlmannsgade,almindsogn,0.80,1094,1164,1294,1434,0,1639,Almind Sogn,sogn,113961
4150,ahlmannsgade,sahllandsogn,0.80,1241,1298,1501,1890,0,2636,Sahl Sogn,sogn,114499
4151,bernstorff slot,boestrup sogn,0.75,1238,1274,1230,1258,0,1317,Bøstrup Sogn,sogn,113148
4152,bernstorff slot,brovst sogn,0.74,1305,1374,1513,1866,0,2682,Brovst Sogn,sogn,114095
4153,ebertsgade,ebeltoftsogn,0.79,139,154,202,231,0,303,Ebeltoft Sogn,sogn,113171
4154,ebertsgade,ebeltoft sogn,0.78,139,154,202,231,0,303,Ebeltoft Sogn,sogn,113171
4155,ebertsgade,redsted,0.76,411,423,610,770,0,837,Redsted Sogn,sogn,114426
4156,evanstonevej,avnsoe,0.78,477,481,569,596,0,629,Avnsø Sogn,sogn,114008
4157,gefions plads,gjesing landsogn,0.79,550,586,644,834,0,826,Gjesing Sogn,sogn,113365
4158,gefions plads,ejsing landsogn,0.78,759,771,879,1141,0,1378,Ejsing Sogn,sogn,113186
4159,franckesvej,framlev,0.81,693,763,877,873,0,1034,Framlev Sogn,sogn,113272
4160,fejasgade,fejøsogn,0.81,1430,1544,1603,1463,0,1514,Fejø Sogn,sogn,113236
4161,fejasgade,fejoesogn,0.81,1430,1544,1603,1463,0,1514,Fejø Sogn,sogn,113236
4162,fejasgade,fejø,0.79,1430,1544,1603,1463,0,1514,Fejø Sogn,sogn,113236
4163,fejasgade,fejø sogn,0.79,1430,1544,1603,1463,0,1514,Fejø Sogn,sogn,113236
4164,fejasgade,fejoe sogn,0.79,1430,1544,1603,1463,0,1514,Fejø Sogn,sogn,113236
4165,ahrensberggade,naesbjerg,0.78,315,315,301,369,0,1083,Næsbjerg Sogn,sogn,114324
4166,aurehøjvej,alrø,0.71,298,291,289,270,0,345,Alrø Sogn,sogn,113963
4167,boyesgade,bovense,0.81,408,425,474,489,0,550,Bovense Sogn,sogn,114073