In [1]:
#Importing libraries for data management
import pandas as pd
import numpy as np

#Importing libraries for system management
import os

#Distance computation
from pyjarowinkler import distance
import Levenshtein

In [2]:
#TODO: Check if Danish computers have the same problem...
I_want_to_run_all_the_preprocessing = False

# Converting the current format (ISO-8859-14) into UTF-8 
iconv -f ISO-8859-14 file_in.csv > file_out.tsv

In [3]:

if I_want_to_run_all_the_preprocessing:
    
    #Copying into a new directory
    ! cp -R ../../city_dump/data/LL/ ../../city_dump/data/utf8/

    #Getting all files
    d_path = '../../city_dump/data/utf8/'
    l = next(os.walk(d_path))[2]

    #Converting the files to utf8 (not sure this will work in computers different than mac...)
    for file in l:
        f_path = d_path+file
        tmp_path = d_path+'tmp.csv'
        ! iconv -f ISO-8859-14 $f_path > $tmp_path
        !mv $tmp_path $f_path

# Reading DigDag
and transforming it so I encode as many logical variation of the names as possible. In this way the variations for each place is only appied once whereas if we do the same for the data it will need to be applied to each place taking much longer. But the way to remember the original variation is to keep the "enhedid", which is the reference id.

In [4]:
# This function adds extra rows in the dataframe *dd* for the 
# places where *word* exists and replaces it with *replacement*
def adding_extra_rows(dd, word, replacement):
    dd['special'] = dd['simplename'].apply(lambda x: word in x) 
    dd['simplename2'] = dd.simplename.apply(lambda x: x.replace(word,replacement))
    return pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

In [5]:
#The digdag seems to have duplicates which I do not understand why
dd = pd.read_csv('../../city_dump/data/rl_places_digdag_v1.txt', sep = '\t', encoding='utf-16', dtype=str)
dd_org = dd.copy()

#Getting the Købstad and putting it to the original data
dd2 = pd.read_csv('../../city_dump/data/koebstad.csv', sep = ';', encoding='utf-8', dtype=str)
dd2['enhedtype'] = dd2['art'] 
dd = pd.concat([dd, dd2[~dd2.isna()][['navn','enhedid','enhedtype','art','simplename']]])
dd['simplename'] = dd['simplename'].astype(str)

#adding a conversion of special characters to latin letters (å -> aa, ø -> oe, æ -> ae) and adding them to the reference list
dd = adding_extra_rows(dd, 'å', 'aa')
dd = adding_extra_rows(dd, 'ø', 'oe')
dd = adding_extra_rows(dd, 'æ', 'ae')

#Preparing the names to append them at the simple name
dd['art'] = dd['art'].apply({'Amt':'amt', 'Sogn':'sogn','Købstadskommune':'købstad', 'Geografisk Herred':'herred', 'Processing':''}.get)

#Adding a duplicated list of their unit type to increase matches
dd['simplename2'] = dd.apply(lambda row: str(row['simplename'])+' '+str(row['art']), axis=1)
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Adding the plural købstæder as well
dd = adding_extra_rows(dd, 'købstad', 'købstæder')

#Adding spaces instead of hyphens (new rows)
dd = adding_extra_rows(dd, '-', ' ')

#Removing spaces (new rows)
dd = adding_extra_rows(dd, ' ', '')

#Adding bysogn and landsogn (new rows)
dd = adding_extra_rows(dd, 'sogn', 'bysogn')
dd = adding_extra_rows(dd, 'sogn', 'landsogn')

#adding rows where the last letter's "e" will be removed
dd['special'] = dd['simplename'].str[-1] == 'e'
dd['simplename2'] = dd['simplename'].str[:-1]
dd = pd.concat([dd[['navn', 'enhedid', 'enhedtype', 'art', 'simplename']],dd[dd['special']][['navn', 'enhedid', 'enhedtype', 'art', 'simplename2']].rename(columns={'simplename2':'simplename'})])

#Dropping duplicates from digdag
#print(dd[dd.duplicated('simplename', keep=False)].sort_values('simplename').head(30))
dd.drop_duplicates(['art','simplename'], keep='first', inplace=True)

#Drop 'Non' from the list, this may be one of my artifacts...
dd = dd[(dd.simplename.apply(lambda x: not 'Non' in x))]

# TODO take into consideration that the same city name can be in varios geographical areas...
# It should be matched with herred to increase accuracy for each record. However, right now we're only cleaning
# not sure how pressing the issue is...
nr_sogn = len(dd_org[dd_org.art=='Sogn'].simplename.unique()) 
dd.head(20)

#TODO: Right now I can map things to amt for example which should not be the case...
#dd =dd[dd.art='sogn']

                     navn enhedid enhedtype  art     simplename
0            Kronborg Amt  118765        11  amt       kronborg
1              Præstø Amt  118791        11  amt         præstø
2           Bornholms Amt  118792        11  amt      bornholms
3           Svendborg Amt  118813        11  amt      svendborg
4              Ålborg Amt  118819        11  amt         ålborg
5                Sorø Amt  118785        11  amt           sorø
6               Århus Amt  118846        11  amt          århus
7            Hjørring Amt  118820        11  amt       hjørring
8             Bøvling Amt  118851        11  amt        bøvling
9               Vejle Amt  118849        11  amt          vejle
10            Dueholm Amt  118821        11  amt        dueholm
11               Ørum Amt  118824        11  amt           ørum
12            Thisted Amt  118826        11  amt        thisted
13             Viborg Amt  118830        11  amt         viborg
14         Ringkøbing Amt  118853        11  amt     ringkøbing
15     Københavns Kommune  370923        11  amt     københavns
16  Frederiksberg Kommune  370924        11  amt  frederiksberg
17               Fyns Amt  118739        11  amt           fyns
18           Sæbygård Amt  118773        11  amt       sæbygård
19               Ribe Amt  118855        11  amt           ribe

In [6]:
print('length original:\t', len(dd_org), '\nlength modified:\t', len(dd), '\nunique sogn keys:\t', nr_sogn)

length original:	 2519
length modified:	 26872
unique sogn keys:	 1924

# Processing functions

In [7]:
#Get the df from the $ separated file (for some reason pandas has problems with random lines)
def get_df(f_path):
    r= []
    columns = []
    with open(f_path) as f:
        first = True
        for line in f:
            line = line.rstrip().split('$')
            if first:
                length = len(line)
                columns = line
                first=False
            else:
                r.append(line[:length])
                
    return pd.DataFrame(data=r, columns = columns)

In [8]:
# Name cleaning function
def name_cleaner(s):
    try:
        o =s[working_column].lower().rstrip().replace('  ', ' ')#.replace(' købstad', '')
        if ' (' in o: return o.split(' (')[0]
        return o
    except:
        return np.nan

# Grouping all 1901 files together

In [9]:
if I_want_to_run_all_the_preprocessing:
    
    l =['ft1901_LL_aalborg.txt',
     'ft1901_LL_aarhus.txt',
     'ft1901_LL_bornholm.txt',
     'ft1901_LL_frederiksborg.txt',
     'ft1901_LL_hjoerring.txt',
     'ft1901_LL_holbaek.txt',
     'ft1901_LL_kbhv.txt',
     'ft1901_LL_maribo.txt',
     'ft1901_LL_odense.txt',
     'ft1901_LL_praestoe.txt',
     'ft1901_LL_randers.txt',
     'ft1901_LL_ribe.txt',
     'ft1901_LL_ringkoebing.txt',
     'ft1901_LL_roskilde.txt',
     'ft1901_LL_skanderborg.txt',
     'ft1901_LL_soroe.txt',
     'ft1901_LL_svendborg.txt',
     'ft1901_LL_thisted.txt',
     'ft1901_LL_vejle.txt',
     'ft1901_LL_viborg.txt']

    _path = '../../city_dump/data/utf8/'

    df_list = []
    for f in l:

        print(f)
        #Loading the data
        df_list.append(get_df(_path+f))

    #Concatenating all the files
    df_list = pd.concat(df_list, sort=False)

    #Saving the unique file
    df_list.to_csv(_path+'ft1901_LL.txt', sep='$', index=False)

In [10]:
# List of files to work (with the 1901 collapsed)
working_data = ['ft1845_LL.txt',
 'ft1850_LL.txt',
 'ft1860_LL.txt',
 'ft1880_LL.txt',
 'ft1885_LL.txt',
 'ft1901_LL.txt']

# Basic matching
(only performs the match if the names are identical)

_This could be done only once by countring reference id and year. Then with the names we can keep constraining with matches_

In [11]:
_path = '../../city_dump/data/utf8/'

#This is where I save the counts and then group it together
out_list = []

#where I save the missmatches and file year
missmatches = []
total_records = 0

for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing (ask Barbara to provide me the UTF-8...)
    df = df[~df.Herred.isna()]
    print(len(df))
    total_records = total_records + len(df)
    
    #Preforming the name cleaning for Sogne, Herred, and Amt
    for working_column in ['Sogne','Herred','Amt']:
        df[working_column] = df.apply(lambda x: name_cleaner(x), axis=1)

    # Focusing on Sogn that match the Sogn list in DigDag
    out = df.merge(dd[dd.art=='sogn'][['simplename', 'art', 'enhedid']], left_on='Sogne', right_on='simplename', how='left')

    #keeping the missmatch
    miss = out[out.art.isna()].drop_duplicates('Sogne', keep='first')
    miss['year'] = f[2:6]
    missmatches.append(miss)
    
    #Counting the matches
    out = out[~out.art.isna()].groupby('enhedid').size().reset_index(name='counts')
    
    # setting the year
    out['year'] = f[2:6]
    
    #Keeping the counts on RAM
    out_list.append(out)
    

#Concatenating all the files (the counts and missmatches)
out_list = pd.concat(out_list, sort=False)
missmatches = pd.concat(missmatches, sort=False)

#Saving the unique file in the HD
out_list = out_list.merge(dd_org, on ='enhedid').pivot('enhedid', 'year', 'counts').fillna(0).astype(int)
out_list.to_csv(_path+'../out/counts.txt', sep='$')
out_list.to_csv(_path+'../out/places_FT_uniquevalues_01.tsv', sep='\t')

print('Done :D')

nr_matched_records = out_list.sum().sum() #Two times sum, first one for year, and second one among years
print('Matched records:',nr_matched_records, 'out of', total_records, '(', nr_matched_records/total_records*100,')%')
print('Matched places:', len(out_list), 'out of', nr_sogn, '(', len(out_list)/nr_sogn*100,')%')

ft1845_LL.txt
1489875
ft1850_LL.txt
1391708
ft1860_LL.txt
1715906
ft1880_LL.txt
1967615
ft1885_LL.txt
327936
ft1901_LL.txt
1979025
Done :D
Matched records: 6256417 out of 8872065 ( 70.51816009012558 )%
Matched places: 1577 out of 1924 ( 81.96465696465697 )%

In [12]:
#Cities that could not be matched on the first round counts per year
missmatches.groupby('year').size().reset_index(name='counts').sort_values('counts', ascending=False)

   year  counts
5  1901     592
4  1885     556
3  1880     553
0  1845     238
2  1860     159
1  1850     155

# Computing city similarity for all missmatches

In [13]:
#Getting the potential first matches

mm = missmatches.Sogne.unique()
sn = dd.simplename.unique() #Another possibility wowuld be to match it to the original (shorter)

distance_jaro = np.zeros((len(sn),len(mm)))
distance_leven = np.zeros((len(sn),len(mm)))

for i in range(len(sn)):
    if i%100 == 0: print(i, 'out of' , len(sn))
        
    for j in range(len(mm)): #The internal loop could be done using apply (it should be the longer one)
        #If variable is none skip
        if not mm[j]: continue
        
        #This matrix is not simetric because x and y axis are not the same!
        try:
            distance_jaro[i][j] = distance.get_jaro_distance(sn[i],mm[j])
            distance_leven[i][j] = Levenshtein.distance(sn[i],mm[j])/(len(sn[i])+len(mm[j]))
        except:
            print('Could not make it',i,j)
            print(sn[i],mm[j])
        
#Index is the reference names found in the data, columns to the digdag
distance_jaro = pd.DataFrame(data = distance_jaro, columns = mm, index = sn)
distance_leven = pd.DataFrame(data = distance_leven, columns = mm, index = sn)
print(distance_jaro.shape) #(26428, 1237)
distance_jaro.head()

0 out of 26428
100 out of 26428
200 out of 26428
300 out of 26428
400 out of 26428
500 out of 26428
600 out of 26428
700 out of 26428
800 out of 26428
900 out of 26428
1000 out of 26428
1100 out of 26428
1200 out of 26428
1300 out of 26428
1400 out of 26428
1500 out of 26428
1600 out of 26428
1700 out of 26428
1800 out of 26428
1900 out of 26428
2000 out of 26428
2100 out of 26428
2200 out of 26428
2300 out of 26428
2400 out of 26428
2500 out of 26428
2600 out of 26428
2700 out of 26428
2800 out of 26428
2900 out of 26428
3000 out of 26428
3100 out of 26428
3200 out of 26428
3300 out of 26428
3400 out of 26428
3500 out of 26428
3600 out of 26428
3700 out of 26428
3800 out of 26428
3900 out of 26428
4000 out of 26428
4100 out of 26428
4200 out of 26428
4300 out of 26428
4400 out of 26428
4500 out of 26428
4600 out of 26428
4700 out of 26428
4800 out of 26428
4900 out of 26428
5000 out of 26428
5100 out of 26428
5200 out of 26428
5300 out of 26428
5400 out of 26428
5500 out of 26428
5600 out of 26428
5700 out of 26428
5800 out of 26428
5900 out of 26428
6000 out of 26428
6100 out of 26428
6200 out of 26428
6300 out of 26428
6400 out of 26428
6500 out of 26428
6600 out of 26428
6700 out of 26428
6800 out of 26428
6900 out of 26428
7000 out of 26428
7100 out of 26428
7200 out of 26428
7300 out of 26428
7400 out of 26428
7500 out of 26428
7600 out of 26428
7700 out of 26428
7800 out of 26428
7900 out of 26428
8000 out of 26428
8100 out of 26428
8200 out of 26428
8300 out of 26428
8400 out of 26428
8500 out of 26428
8600 out of 26428
8700 out of 26428
8800 out of 26428
8900 out of 26428
9000 out of 26428
9100 out of 26428
9200 out of 26428
9300 out of 26428
9400 out of 26428
9500 out of 26428
9600 out of 26428
9700 out of 26428
9800 out of 26428
9900 out of 26428
10000 out of 26428
10100 out of 26428
10200 out of 26428
10300 out of 26428
10400 out of 26428
10500 out of 26428
10600 out of 26428
10700 out of 26428
10800 out of 26428
10900 out of 26428
11000 out of 26428
11100 out of 26428
11200 out of 26428
11300 out of 26428
11400 out of 26428
11500 out of 26428
11600 out of 26428
11700 out of 26428
11800 out of 26428
11900 out of 26428
12000 out of 26428
12100 out of 26428
12200 out of 26428
12300 out of 26428
12400 out of 26428
12500 out of 26428
12600 out of 26428
12700 out of 26428
12800 out of 26428
12900 out of 26428
13000 out of 26428
13100 out of 26428
13200 out of 26428
13300 out of 26428
13400 out of 26428
13500 out of 26428
13600 out of 26428
13700 out of 26428
13800 out of 26428
13900 out of 26428
14000 out of 26428
14100 out of 26428
14200 out of 26428
14300 out of 26428
14400 out of 26428
14500 out of 26428
14600 out of 26428
14700 out of 26428
14800 out of 26428
14900 out of 26428
15000 out of 26428
15100 out of 26428
15200 out of 26428
15300 out of 26428
15400 out of 26428
15500 out of 26428
15600 out of 26428
15700 out of 26428
15800 out of 26428
15900 out of 26428
16000 out of 26428
16100 out of 26428
16200 out of 26428
16300 out of 26428
16400 out of 26428
16500 out of 26428
16600 out of 26428
16700 out of 26428
16800 out of 26428
16900 out of 26428
17000 out of 26428
17100 out of 26428
17200 out of 26428
17300 out of 26428
17400 out of 26428
17500 out of 26428
17600 out of 26428
17700 out of 26428
17800 out of 26428
17900 out of 26428
18000 out of 26428
18100 out of 26428
18200 out of 26428
18300 out of 26428
18400 out of 26428
18500 out of 26428
18600 out of 26428
18700 out of 26428
18800 out of 26428
18900 out of 26428
19000 out of 26428
19100 out of 26428
19200 out of 26428
19300 out of 26428
19400 out of 26428
19500 out of 26428
19600 out of 26428
19700 out of 26428
19800 out of 26428
19900 out of 26428
20000 out of 26428
20100 out of 26428
20200 out of 26428
20300 out of 26428
20400 out of 26428
20500 out of 26428
20600 out of 26428
20700 out of 26428
20800 out of 26428
20900 out of 26428
21000 out of 26428
21100 out of 26428
21200 out of 26428
21300 out of 26428
21400 out of 26428
21500 out of 26428
21600 out of 26428
21700 out of 26428
21800 out of 26428
21900 out of 26428
22000 out of 26428
22100 out of 26428
22200 out of 26428
22300 out of 26428
22400 out of 26428
22500 out of 26428
22600 out of 26428
22700 out of 26428
22800 out of 26428
22900 out of 26428
23000 out of 26428
23100 out of 26428
23200 out of 26428
23300 out of 26428
23400 out of 26428
23500 out of 26428
23600 out of 26428
23700 out of 26428
23800 out of 26428
23900 out of 26428
24000 out of 26428
24100 out of 26428
24200 out of 26428
24300 out of 26428
24400 out of 26428
24500 out of 26428
24600 out of 26428
24700 out of 26428
24800 out of 26428
24900 out of 26428
25000 out of 26428
25100 out of 26428
25200 out of 26428
25300 out of 26428
25400 out of 26428
25500 out of 26428
25600 out of 26428
25700 out of 26428
25800 out of 26428
25900 out of 26428
26000 out of 26428
26100 out of 26428
26200 out of 26428
26300 out of 26428
26400 out of 26428

,nørre bramdrup,nørresundby landsogn,slagelse købstad,stillinge,allinge-sandvig købstæder,rønne købstad,aakirkeby købstad,hasle købstad,svaneke købstad,neksø købstad,...,bernhardsvej,baunegaardsvej,bengtasvej,bogholder alle,boyesgade,broagergade,birkegade,rugaards landevej,esbjerg købstad,silkeborg købstad
kronborg,0.43,0.40,0.40,0.49,0.44,0.54,0.52,0.40,0.40,0.42,...,0.53,0.43,0.45,0.51,0.46,0.56,0.56,0.46,0.41,0.57
præstø,0.41,0.48,0.41,0.52,0.00,0.50,0.41,0.50,0.41,0.50,...,0.42,0.00,0.34,0.00,0.43,0.42,0.43,0.41,0.41,0.41
bornholms,0.40,0.38,0.45,0.31,0.37,0.52,0.39,0.52,0.45,0.46,...,0.69,0.56,0.59,0.71,0.64,0.48,0.53,0.39,0.51,0.28
svendborg,0.41,0.47,0.50,0.60,0.37,0.41,0.39,0.52,0.59,0.50,...,0.51,0.41,0.47,0.40,0.46,0.44,0.44,0.28,0.56,0.71
ålborg,0.41,0.41,0.49,0.52,0.47,0.00,0.41,0.41,0.00,0.00,...,0.50,0.49,0.51,0.57,0.61,0.59,0.61,0.32,0.57,0.71

In [95]:
dd_org[dd_org.simplename == 'stilling'] #Stilling in dd_org!!

               navn enhedid enhedtype   art simplename
1515  Stilling Sogn  114713        76  Sogn   stilling

In [97]:
'stilling' in distance_jaro.index

True

In [14]:
#Saving the best possible match (left=name found in the data, right=name found in the extended version of digdag)
a = distance_jaro.idxmax().reset_index(name = 'potential_match')
b = distance_jaro.max().reset_index(name='jaro')
c = a.merge(b, on='index').rename(columns={'index':'data_name'})
c.to_csv(_path+'../out/mapping.tsv', sep='\t')
c.head()

                   data_name            potential_match  jaro
0             nørre bramdrup            nørre asmindrup  0.90
1       nørresundby landsogn       nørresnedebylandsogn  0.96
2           slagelse købstad           slagelse købstad  1.00
3                  stillinge                   stilling  0.98
4  allinge-sandvig købstæder  allinge-sandvig købstæder  1.00

# Advanced matching
(This is the same as the basic matching but in this case it matches to the computed best match)

In [15]:
#Select threshold to perform the matching, each mapping contains only the best jaro
THRESHOLD = 0.9

dfmap = pd.read_csv(_path+'../out/mapping.tsv', sep = '\t', dtype=str, names=['original','mapped', 'score'], skiprows=1)
dfmap = dfmap[dfmap.score.astype(float) >= THRESHOLD][['original','mapped']]
dfmap.head()

                    original                     mapped
0             nørre bramdrup            nørre asmindrup
1       nørresundby landsogn       nørresnedebylandsogn
2           slagelse købstad           slagelse købstad
3                  stillinge                   stilling
4  allinge-sandvig købstæder  allinge-sandvig købstæder

In [16]:
_path = '../../city_dump/data/utf8/'

#This is where I save the counts and then group it together
out_list = []


for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing
    df = df[~df.Herred.isna()]
    print(len(df))
    
    #Preforming the name cleaning for Sogne, Herred, and Amt
    for working_column in ['Sogne','Herred','Amt']:
        df[working_column] = df.apply(lambda x: name_cleaner(x), axis=1)
    
    #Performing the matching for "inexisting places"
    df = df.merge(dfmap, left_on='Sogne', right_on='original', how='left')
    df.loc[~df.mapped.isna(), 'Sogne'] = df.loc[~df.mapped.isna(), 'mapped']


    # Focusing on Sogn that match the Sogn list in DigDag
    out = df.merge(dd[dd.art=='sogn'][['simplename', 'art','enhedid']], left_on='Sogne', right_on='simplename', how='left')
    
    #Counting the matches
    out = out[~out.art.isna()].groupby('enhedid').size().reset_index(name='counts')
    
    # setting the year
    out['year'] = f[2:6]
    
    #Keeping the counts on RAM
    out_list.append(out)

    
#Concatenating all the files (the counts and missmatches)
out_list = pd.concat(out_list, sort=False)


#Saving the unique file in the HD
out_list = out_list.merge(dd_org, on ='enhedid').pivot('simplename', 'year', 'counts').fillna(0).astype(int)
out_list.to_csv(_path+'../out/counts_first_jaro.txt', sep='$')
out_list.to_csv(_path+'../out/places_FT_jaro0.9_01.tsv', sep='\t')


print('Done :D')

nr_matched_records = out_list.sum().sum() #Two times sum, first one for year, and second one among years
print('Matched records:',nr_matched_records, 'out of', total_records, '(', nr_matched_records/total_records*100,')%')
print('Matched places:', len(out_list), 'out of', nr_sogn, '(', len(out_list)/nr_sogn*100,')%')

ft1845_LL.txt
1489875
ft1850_LL.txt
1391708
ft1860_LL.txt
1715906
ft1880_LL.txt
1967615
ft1885_LL.txt
327936
ft1901_LL.txt
1979025
Done :D
Matched records: 6674325 out of 8872065 ( 75.22854036799775 )%
Matched places: 1647 out of 1924 ( 85.6029106029106 )%

In [25]:
#Adding few more requested variables
dfmap = pd.read_csv(_path+'../out/mapping.tsv', sep = '\t', dtype=str, names=['original','mapped', 'score'], skiprows=1)
jaro09 = pd.read_csv(_path+'../out/places_FT_jaro0.9_01.tsv', sep='\t')
jaro09 = jaro09.merge(dfmap[dfmap.score.astype(float) >= THRESHOLD], left_on='simplename', right_on='mapped').merge(dd[['simplename', 'art', 'enhedid']], on='simplename')
jaro09.to_csv(_path+'../out/places_FT_jaro0.9_01.tsv', sep='\t')
jaro09.head()

,simplename,1845,1850,1860,1880,1885,1901,original,mapped,score,art,enhedid
0,absalons,0,0,0,4022,4065,4477,absalonsgade,absalons,0.93,sogn,113935
1,aggersborg,516,513,580,752,0,1222,aggersborggade,aggersborg,0.94,sogn,113943
2,allerslev,1784,1881,1992,2444,475,2249,allersgade,allerslev,0.9,sogn,113953
3,anna,0,0,0,0,0,127,annasvej,anna,0.9,sogn,113974
4,astrup,2667,2132,3071,2903,0,2947,magstrup,astrup,0.92,sogn,113997

In [29]:
# Finding the best possible matches

concatenate = []
i=0
for col in distance_jaro.columns:
    i = i+1
    if i % 100 == 0: print(i, 'out of', len(distance_jaro.columns))
    aux = distance_jaro.nlargest(5, col)[[col]]
    aux.columns = ['score']
    aux['original'] = col
    concatenate.append(aux)

concatenate = pd.concat(concatenate, sort=False)
concatenate = concatenate.reset_index()
concatenate.columns = ['potential_match','score','original']
concatenate[['original','potential_match','score']][~concatenate.original.isin(concatenate[concatenate.score >= 0.9].original.unique())].to_csv(_path+'../out/places_possible_matches_jaro_01.tsv', index=False, sep='\t')

concatenate = pd.read_csv(_path+'../out/places_possible_matches_jaro_01.tsv',  sep='\t')
concatenate.head(15)

                   original       potential_match  score
0             neksø købstad                neksø    0.89
1             neksø købstad        korsør købstad   0.88
2             neksø købstad                 neksø   0.88
3             neksø købstad          nexø købstad   0.86
4             neksø købstad           nexøkøbstad   0.86
5                 hofetaten                hoejen   0.84
6                 hofetaten                    ho   0.79
7                 hofetaten               soeften   0.79
8                 hofetaten              hoersted   0.78
9                 hofetaten          hoerstedsogn   0.78
10  ude sundby landdistrikt    udbyneder landsogn   0.77
11  ude sundby landdistrikt     udbynederlandsogn   0.75
12  ude sundby landdistrikt  understed bylandsogn   0.75
13  ude sundby landdistrikt  udbyneder bylandsogn   0.75
14  ude sundby landdistrikt     sædden bylandsogn   0.73

# Getting the counts for all possible matches (reading only once)

In [32]:
_path = '../../city_dump/data/utf8/'

#This is where I save the counts and then group it together
out_list = []


for f in working_data:
    
    print(f)
    #Loading the data
    df = get_df(_path+f)
    
    #Dropping empty rows due to the "mal-conversion" to utf8... The empty rows do contain data originally
    #TODO: Fix the conversion thing
    df = df[~df.Herred.isna()]
    print(len(df))
    
    #Preforming the name cleaning for Sogne, Herred, and Amt
    for working_column in ['Sogne','Herred','Amt']:
        df[working_column] = df.apply(lambda x: name_cleaner(x), axis=1)
    
    df['year'] = f[2:6]
    
    #TODO: Do the counting inside so it removes overhead
    
    #Keeping the counts on RAM
    out_list.append(df)

    
#Concatenating all the files (the counts and missmatches)
df = pd.concat(out_list, sort=False)
df.head()

ft1845_LL.txt
1489875
ft1850_LL.txt
1391708
ft1860_LL.txt
1715906
ft1880_LL.txt
1967615
ft1885_LL.txt
327936
ft1901_LL.txt
1979025

,Sogne,Herred,Amt,postid,kipnr,kilde,løbenr,kildehenvisning,stednavn,husstands_familienr,...,gadenr,etage,forhus,skemanr,skema_lbnr,kildekommentar,ejendom_navn,ejernavn,bo_andetsteds,tilstede
0,harte,brusk,vejle,1,A0003,FT-1845,"1,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,harte,brusk,vejle,2,A0003,FT-1845,"2,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,harte,brusk,vejle,3,A0003,FT-1845,"3,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,harte,brusk,vejle,4,A0003,FT-1845,"4,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,harte,brusk,vejle,5,A0003,FT-1845,"5,00000",side 1,Paaby,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
#Read everything and now do the counting outside (not the best... would be better to count inside the loop)
dfc = df.groupby(['Sogne','year']).size().reset_index(name='counts')
dfc.head()

                  Sogne  year  counts
0                        1845       1
1  (h. c.) andersensvej  1880     744
2       a. f. beyersvej  1901      78
3    a. n. hansens allé  1901      10
4              aabenraa  1880    1404

In [169]:
THRESHOLD = 0.9

#One row per city
a = dfc.rename(columns={'year':'id'}).pivot(index='Sogne', columns='id', values='counts').reset_index().fillna(0).astype(int, errors='ignore')

#Performing the matching for mapped places
dfmap = pd.read_csv(_path+'../out/mapping.tsv', sep = '\t', dtype=str, names=['original','mapped', 'score'], skiprows=1)
dfmap =  dfmap[dfmap.score.astype(float) >= THRESHOLD]

df = a.merge(dfmap, left_on='Sogne', right_on='original', how='left')
df.loc[~df.mapped.isna(), 'Sogne'] = df.loc[~df.mapped.isna(), 'mapped']

# Focusing on Sogn that match the Sogn list in DigDag
df = df.merge(dd[dd.art=='sogn'][['simplename', 'art','enhedid']], left_on='Sogne', right_on='simplename', how='left')
df.loc[~df.simplename.isna(), 'Sogne'] = df.loc[~df.simplename.isna(), 'simplename']

df.head(20)

,Sogne,1845,1850,1860,1880,1885,1901,original,mapped,score,simplename,art,enhedid
0,,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,(h. c.) andersensvej,0,0,0,744,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,a. f. beyersvej,0,0,0,0,0,78,NaN,NaN,NaN,NaN,NaN,NaN
3,a. n. hansens allé,0,0,0,0,0,10,NaN,NaN,NaN,NaN,NaN,NaN
4,aabenraa,0,0,0,1404,1314,1044,NaN,NaN,NaN,aabenraa,sogn,113932
5,aabenraa købstad,0,0,5139,0,0,0,aabenraa købstad,aabenraa købstad,1.0,NaN,NaN,NaN
6,aabenraa landsogn,444,0,650,0,0,0,NaN,NaN,NaN,aabenraa landsogn,sogn,113932
7,aaby,1520,1593,2008,2606,0,3075,NaN,NaN,NaN,aaby,sogn,115242
8,aadum,554,603,712,979,0,1031,NaN,NaN,NaN,NaN,NaN,NaN
9,aagade,0,0,0,915,1058,1034,NaN,NaN,NaN,NaN,NaN,NaN
10,aageby,0,0,0,277,0,0,NaN,NaN,NaN,aageby,sogn,115244
11,aagerup,1046,1078,1278,1422,0,1278,NaN,NaN,NaN,aagerup,sogn,115246
12,aaker,1864,1956,1978,2485,0,2421,NaN,NaN,NaN,aaker,sogn,115247
13,aakirkeby købstad,553,561,613,852,0,1183,aakirkeby købstad,aakirkeby købstad,1.0,NaN,NaN,NaN
14,aal,917,972,962,1097,0,1299,NaN,NaN,NaN,aal,sogn,115248
15,faaborg landsogn,142,142,134,143,0,114,aalborg frue landsogn,faaborg landsogn,0.9,faaborg landsogn,sogn,113312
16,aalborg købstad,7478,7773,10077,14292,0,30976,aalborg købstad,aalborg købstad,1.0,NaN,NaN,NaN
17,aalborg,0,0,0,0,0,1334,aalborggade,aalborg,0.93,NaN,NaN,NaN
18,aale,454,488,597,0,0,734,NaN,NaN,NaN,aale,sogn,115249
19,aalekistevej,0,0,0,0,0,214,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
#Get counts for the possible matches

#Getting the original ids and stuff
tm = concatenate.merge(dd.drop_duplicates('simplename', keep='first'), left_on='potential_match', right_on='simplename')
tm[['original','potential_match','score','navn','enhedid','art']]

w = df.merge(tm, left_on='Sogne', right_on='original')
tm.shape, w.shape, df.shape

((4465, 8), (4460, 21), (2819, 13))

In [206]:
w.columns

Index(['Sogne', '1845', '1850', '1860', '1880', '1885', '1901', 'original_x',
       'mapped', 'score_x', 'simplename_x', 'art_x', 'enhedid_x', 'original_y',
       'potential_match', 'score_y', 'navn', 'enhedid_y', 'enhedtype', 'art_y',
       'simplename_y', 'original', 'score', 'simplename', 'art', 'enhedid'],
      dtype='object')

In [207]:
#Unifying stuff
w['original'] = np.where(w['original'+'_x'].isna(), w['original'+'_y'], w['original'+'_x'])
w['score'] = np.where(w['score'+'_x'].isna(), w['score'+'_y'], w['score'+'_x'])
w['simplename'] = np.where(w['simplename'+'_x'].isna(), w['simplename'+'_y'], w['simplename'+'_x'])
w['art'] = np.where(w['art'+'_x'].isna(), w['art'+'_y'], w['art'+'_x'])
w['enhedid'] = np.where(w['enhedid'+'_x'].isna(), w['enhedid'+'_y'], w['enhedid'+'_x'])
w = w[['Sogne', '1845', '1850', '1860', '1880', '1885', '1901', 'original', 'score', 'navn', 'simplename', 'art', 'enhedid']]
w

,Sogne,1845,1850,1860,1880,1885,1901,navn,original,score,simplename,art,enhedid
0,(h. c.) andersensvej,0,0,0,744,0,0,Brønderslev Sogn,(h. c.) andersensvej,0.67,broenderslev sogn,sogn,114106
1,(h. c.) andersensvej,0,0,0,744,0,0,Store Arden Sogn,(h. c.) andersensvej,0.66,store arden sogn,sogn,114718
2,(h. c.) andersensvej,0,0,0,744,0,0,Gammel Haderslev Sogn,(h. c.) andersensvej,0.68,gammel haderslev sogn,sogn,113829
3,(h. c.) andersensvej,0,0,0,744,0,0,Branderslev Sogn,(h. c.) andersensvej,0.69,branderslevsogn,sogn,114079
4,(h. c.) andersensvej,0,0,0,744,0,0,Gammel Haderslev Sogn,(h. c.) andersensvej,0.66,gammel haderslev bysogn,sogn,113829
5,a. f. beyersvej,0,0,0,0,0,78,Frederiksværk Sogn,a. f. beyersvej,0.66,frederiksvaerk,sogn,113289
6,a. f. beyersvej,0,0,0,0,0,78,Als Sønder Geografisk Herred,a. f. beyersvej,0.66,als soender herred,herred,136243
7,a. f. beyersvej,0,0,0,0,0,78,Fårevejle Sogn,a. f. beyersvej,0.69,faarevejlebysogn,sogn,113314
8,a. f. beyersvej,0,0,0,0,0,78,Fårevejle Sogn,a. f. beyersvej,0.67,faarevejle bysogn,sogn,113314
9,a. f. beyersvej,0,0,0,0,0,78,Avedøre Sogn,a. f. beyersvej,0.66,avedøre bysogn,sogn,114004
10,a. n. hansens allé,0,0,0,0,0,10,Sankt Hans Sogn,a. n. hansens allé,0.71,sankt hans landsogn,sogn,114516
11,a. n. hansens allé,0,0,0,0,0,10,Asnæs Sogn,a. n. hansens allé,0.71,asnaeslandsogn,sogn,113992
12,a. n. hansens allé,0,0,0,0,0,10,Asnæs Sogn,a. n. hansens allé,0.7,asnaes bylandsogn,sogn,113992
13,a. n. hansens allé,0,0,0,0,0,10,Albæk-Lyngså Sogn,a. n. hansens allé,0.69,albaek lyngså sogn,sogn,113947
14,a. n. hansens allé,0,0,0,0,0,10,Sankt Hans Sogn,a. n. hansens allé,0.69,sankthans,sogn,114516
15,aadum,554,603,712,979,0,1031,Ålum Sogn,aadum,0.89,aalum,sogn,115253
16,aadum,554,603,712,979,0,1031,Haldum Sogn,aadum,0.82,haldum,sogn,113444
17,aadum,554,603,712,979,0,1031,Åsum Sogn,aadum,0.89,aasum,sogn,115267
18,aadum,554,603,712,979,0,1031,Vadum Sogn,aadum,0.87,vadum,sogn,114978
19,aadum,554,603,712,979,0,1031,Madum Sogn,aadum,0.87,madum,sogn,114233
20,aagade,0,0,0,915,1058,1034,Ågeby Sogn,aagade,0.84,aageby,sogn,115244
21,aagade,0,0,0,915,1058,1034,Åkjær Amt,aagade,0.8,aakjaer,amt,118845
22,aagade,0,0,0,915,1058,1034,Åle Sogn,aagade,0.8,aale,sogn,115249
23,aagade,0,0,0,915,1058,1034,Ågerup Sogn,aagade,0.82,aagerup,sogn,115246
24,aagade,0,0,0,915,1058,1034,Skåde Sogn,aagade,0.78,skaade,sogn,114658
25,aalekistevej,0,0,0,0,0,214,Aal Sogn,aalekistevej,0.82,aal,sogn,115248
26,aalekistevej,0,0,0,0,0,214,Åle Sogn,aalekistevej,0.87,aale,sogn,115249
27,aalekistevej,0,0,0,0,0,214,Ålestrup Sogn,aalekistevej,0.83,aalestrup,sogn,115250
28,aalekistevej,0,0,0,0,0,214,Åle Sogn,aalekistevej,0.81,aalesogn,sogn,115249
29,aalekistevej,0,0,0,0,0,214,Åle Sogn,aalekistevej,0.79,aale sogn,sogn,115249
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4430,østbanegade,0,0,0,0,0,40,Øster Egede Sogn,østbanegade,0.83,østereged,sogn,115219
4431,østbanegade,0,0,0,0,0,40,Øster Vandet Sogn,østbanegade,0.84,østervandet,sogn,115232
4432,østbanegade,0,0,0,0,0,40,Stengård Sogn,østbanegade,0.83,stengaard,sogn,114701
4433,østbanegade,0,0,0,0,0,40,Østbirk sogn,østbanegade,0.82,østbirklandsogn,sogn,123743
4434,østbanegade,0,0,0,0,0,40,Øster Vandet Sogn,østbanegade,0.83,øster vandet,sogn,115232
4435,østbanetorvet,0,0,0,0,0,139,Øster Vandet Sogn,østbanetorvet,0.85,østervandet,sogn,115232
4436,østbanetorvet,0,0,0,0,0,139,Øster Vandet Sogn,østbanetorvet,0.82,østervandetsogn,sogn,115232
4437,østbanetorvet,0,0,0,0,0,139,Øster Vandet Sogn,østbanetorvet,0.84,øster vandet,sogn,115232
4438,østbanetorvet,0,0,0,0,0,139,Øster Horne Geografisk Herred,østbanetorvet,0.83,østerhorne,herred,136220
4439,østbanetorvet,0,0,0,0,0,139,Øster Horne Geografisk Herred,østbanetorvet,0.82,øster horne,herred,136220
4440,østboulevarden,0,0,0,0,0,235,Øster Vandet Sogn,østboulevarden,0.84,østervandet,sogn,115232
4441,østboulevarden,0,0,0,0,0,235,Store Arden Sogn,østboulevarden,0.85,storearden,sogn,114718
4442,østboulevarden,0,0,0,0,0,235,Østrup Sogn,østboulevarden,0.84,østruplandsogn,sogn,115240
4443,østboulevarden,0,0,0,0,0,235,Østervold Sogn,østboulevarden,0.83,østervoldsogn,sogn,115238
4444,østboulevarden,0,0,0,0,0,235,Østervold Sogn,østboulevarden,0.82,østervold,sogn,115238
4445,øster farimagsgade,0,0,0,1704,2990,0,Øster Geografisk Herred,øster farimagsgade,0.86,øster,herred,136226
4446,øster farimagsgade,0,0,0,1704,2990,0,Østermarie Sogn,øster farimagsgade,0.88,østermarie landsogn,sogn,115237
4447,øster farimagsgade,0,0,0,1704,2990,0,Østermarie Sogn,øster farimagsgade,0.87,østermarie bysogn,sogn,115237
4448,øster farimagsgade,0,0,0,1704,2990,0,Østermarie Sogn,øster farimagsgade,0.87,østermarie bylandsogn,sogn,115237
4449,øster farimagsgade,0,0,0,1704,2990,0,Østermarie Sogn,øster farimagsgade,0.87,østermari,sogn,115237
4450,østerbrogade,0,0,0,3643,3858,0,Øster Egede Sogn,østerbrogade,0.89,østereged,sogn,115219
4451,østerbrogade,0,0,0,3643,3858,0,Øster Geografisk Herred,østerbrogade,0.88,øster,herred,136226
4452,østerbrogade,0,0,0,3643,3858,0,Øster Egesborg Sogn,østerbrogade,0.88,østeregesborg,sogn,115220
4453,østerbrogade,0,0,0,3643,3858,0,Øster Vandet Sogn,østerbrogade,0.88,østervandet,sogn,115232
4454,østerbrogade,0,0,0,3643,3858,0,Østermarie Sogn,østerbrogade,0.88,østermariebysogn,sogn,115237
4455,østre møllesti,0,0,0,0,0,371,Østerbølle Sogn,østre møllesti,0.87,østerbølle,sogn,115234
4456,østre møllesti,0,0,0,0,0,371,Øster Lindet Sogn,østre møllesti,0.85,øster lindet,sogn,113930
4457,østre møllesti,0,0,0,0,0,371,Øster Tørslev Sogn,østre møllesti,0.85,øster tørslev,sogn,115230
4458,østre møllesti,0,0,0,0,0,371,Øster Ulslev Sogn,østre møllesti,0.85,øster ulslev,sogn,115231
4459,østre møllesti,0,0,0,0,0,371,Østerbølle Sogn,østre møllesti,0.84,østerbøllesogn,sogn,115234

In [208]:
w[w.enhedid.isna()]

Empty DataFrame
Columns: [Sogne, 1845, 1850, 1860, 1880, 1885, 1901, navn, original, score, simplename, art, enhedid]
Index: []

In [179]:
tm[tm.original == 'østbanegade']

,original,potential_match,score,navn,enhedid,enhedtype,art,simplename
1014,østbanegade,østereged,0.83,Øster Egede Sogn,115219,76,sogn,østereged
1024,østbanegade,østervandet,0.84,Øster Vandet Sogn,115232,76,sogn,østervandet
2657,østbanegade,stengaard,0.83,Stengård Sogn,114701,76,sogn,stengaard
3825,østbanegade,østbirklandsogn,0.82,Østbirk sogn,123743,76,sogn,østbirklandsogn
3927,østbanegade,øster vandet,0.83,Øster Vandet Sogn,115232,76,sogn,øster vandet

In [162]:
df.sort_values('Sogne')

,Sogne,1845,1850,1860,1880,1885,1901,original,mapped,score,simplename,art,enhedid
0,,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,(h. c.) andersensvej,0,0,0,744,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,a. f. beyersvej,0,0,0,0,0,78,NaN,NaN,NaN,NaN,NaN,NaN
3,a. n. hansens allé,0,0,0,0,0,10,NaN,NaN,NaN,NaN,NaN,NaN
4,aabenraa,0,0,0,1404,1314,1044,NaN,NaN,NaN,aabenraa,sogn,113932
5,aabenraa købstad,0,0,5139,0,0,0,aabenraa købstad,aabenraa købstad,1.0,NaN,NaN,NaN
6,aabenraa landsogn,444,0,650,0,0,0,NaN,NaN,NaN,aabenraa landsogn,sogn,113932
7,aaby,1520,1593,2008,2606,0,3075,NaN,NaN,NaN,aaby,sogn,115242
8,aadum,554,603,712,979,0,1031,NaN,NaN,NaN,NaN,NaN,NaN